{{#link-to "authen.index" class="item"}} Home {{/link-to}}

<!--
{{#link-to "radar" class="item"}} Radar {{/link-to}}
{{#link-to "meteo" class="item"}} Meteo {{/link-to}}
-->

{{#if currentRenewIsOpenAndNeeded}}
  {{#link-to "authen.renew-membership" currentYear.year class="item"}}Rinnova l'iscrizione {{currentYear.year}}{{/link-to}}
{{/if}}
{{#if renewIsOpenAndNeeded}}
  {{#link-to "authen.renew-membership" nextYear.year class="item"}}Rinnova l'iscrizione {{nextYear.year}}{{/link-to}}
{{/if}}


<!--
{{#link-to "authen.shop" class="item"}} Shop {{/link-to}}
-->

{{#link-to "authen.invoices" class="item teal"}}
  Ricevute
  {{#if pendingInvoices}}
    <div class="ui red label">{{pendingInvoices.length}}</div>
  {{/if}}
{{/link-to}}

{{#link-to "authen.payments" class="item teal"}}
  Pagamenti
  {{#if pendingPayments}}
    <div class="ui red label">{{pendingPayments.length}}</div>
  {{/if}}
{{/link-to}}

{{#link-to "authen.memberships" class="item"}} Iscrizioni {{/link-to}}
{{#link-to "authen.licenses" class="item"}} Licenze {{/link-to}}
{{#link-to "authen.medicals" class="item"}} Visite mediche {{/link-to}}
{{#link-to "authen.bar-transactions" class="item"}} Conto Bar {{/link-to}}
{{#link-to "authen.token-transactions" class="item"}} Conto Bollini {{/link-to}}
{{#link-to "authen.flights" class="item"}} Stralcio Voli {{/link-to}}
{{#link-to "authen.aircrafts" class="item"}} Miei Alianti {{/link-to}}

<div class="item">
  <div class="header">Turni di linea</div>
  {{#if rosterCurStatus.can_select_entries}}
    {{#link-to "authen.roster-select" rosterCurStatus.year class="item"}}
      Selezione {{rosterCurStatus.year}}
      {{#unless rosterCurStatus.needed_entries_present}}
        <div class="ui medium red circular label">&nbsp;&nbsp;<i class="exclamation icon" /></div>
      {{/unless}}
    {{/link-to}}
  {{/if}}
  {{#if rosterNextStatus.can_select_entries}}
    {{#link-to "authen.roster-select" rosterNextStatus.year class="item"}}
      Selezione {{rosterNextStatus.year}}
      {{#unless rosterNextStatus.needed_entries_present}}
        <div class="ui medium red circular label">&nbsp;&nbsp;<i class="exclamation icon" /></div>
      {{/unless}}
    {{/link-to}}
  {{/if}}
  {{#link-to "roster-days" class="item"}} Tutti i turni {{/link-to}}
  {{#link-to "today-roster" class="item"}} Turni di oggi {{/link-to}}
</div>

{{#if person.acao_is_tug_pilot}}
<div class="item">
  <div class="header">Turni di traino</div>
  {{#link-to "authen.tow-roster-select" class="item"}} Selezione {{/link-to}}
  {{#link-to "tow-roster-days" class="item"}} I tuoi turni {{/link-to}}
  {{#link-to "today-tow-roster" class="item"}} Turni di oggi {{/link-to}}
</div>
{{/if}}
