<div class="roster-day-edit {{if addDisabledReason "disabled"}} ui {{if day.high_season "red" "blue"}} {{if enableAdd "raised link"}} card" onclick={{unless addDisabledReason (action "add" day)}}>
  <div class="content">
    <div class="header">
      <i class="ui gray {{if day.high_season "sun" "snowflake"}} icon" style="color: #bbbbbb"/>
      {{moment-format day.date "dddd D MMMM"}}
    </div>

    <div class="ui move reveal {{unless addDisabledReason "disabled"}}">
      <div class="visible content" style="background-color: #FFF; width: 100%">
        {{#each sortedEntries as |entry|}}
          • {{entry.person.first_name}} {{entry.person.last_name}}<br />
        {{/each}}

        {{#each missingEntries}}
          • <span style="display: inline-block; width: 10em; border-bottom: solid 1px black;">&nbsp;</span><br />
        {{/each}}
      </div>

      <div class="hidden content">
        <div class="ui red message">
          {{addDisabledReason}}
        </div>
      </div>
    </div>
  </div>
</div>
