<div class="ui raised blurring segment {{if entry.roster_day.high_season 'red' 'blue'}}">
  <div class="ui dimmer {{if entry.isDeleted 'active'}}"></div>
  <h1 class="ui header">{{moment-format entry.roster_day.date 'dddd YYYY-MM-DD' }}</h1>
  <button class="ui icon button" {{action 'del' entry}}><i class="red ui delete icon"></i></button>
  <div class="ui checkbox toggle">
    {{input type='checkbox' name='entry.chief' checked=entry.chief}}
    <label>Capolinea</label>
  </div>
  <div>
    {{#each entry.roster_day.roster_entries as |sameDayEntry|}}
      <i class="ui {{if sameDayEntry.chief 'spy' 'user'}} icon"></i>
      {{sameDayEntry.person.first_name}} {{sameDayEntry.person.last_name}}<br />
    {{/each}}
  </div>

  {{#if entry.notes}}
    <div class="ui message">
      {{entry.notes}}
    </div>
  {{/if}}
</div>
