<div class="roster-day edit {{if addDisabledReason "disabled"}} ui {{if enableAdd "raised link"}} card" onclick={{unless addDisabledReason (action "add" day)}}>
  <div class="content">
    <div class="ui grid">
      <div class="three wide column date-block {{if day.high_season "high-season" "low-season"}}">
        <div class="date">
          {{moment-format day.date "ddd"}}<br />
          {{moment-format day.date "D/M"}}
        </div>
      </div>
      <div class="thirteen wide column">
        <div class="ui move down reveal {{unless addDisabledReason "disabled"}}">
          <div class="visible content" style="background-color: #FFF; width: 100%">
            {{#each sortedEntries as |entry|}}
              • {{entry.person.first_name}} {{entry.person.last_name}}<br />
            {{/each}}

            {{#each missingEntries}}
              • <span style="display: inline-block; width: 10em; border-bottom: solid 1px grey;">&nbsp;</span><br />
            {{/each}}
          </div>

          <div class="hidden content">
            <div class="ui red message">
              {{addDisabledReason}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
