<div class="ui {{if day.high_season "red" "blue"}} card">
  <div class="content">
    <div class="header">
      <i class="ui gray {{if day.high_season "sun" "snowflake"}} icon" style="color: #bbbbbb"/>
      {{moment-format day.date "dddd D MMMM"}}
    </div>

    {{#if day.descr}}
      {{day.descr}}
    {{/if}}
  </div>

  <div class="content">
    {{#each sortedEntries as |entry|}}
      • {{entry.person.first_name}} {{entry.person.last_name}}<br />
    {{/each}}
  </div>
</div>
