<div class="roster-entry ui raised blurring fluid card">
  <div class="content">
    <div class="header">
      {{moment-format entry.roster_day.date "dddd D MMMM"}}
    </div>

    {{#each entry.roster_day.roster_entries as |sameDayEntry|}}
      • {{sameDayEntry.person.first_name}} {{sameDayEntry.person.last_name}}<br />
    {{/each}}

    {{#if entry.notes}}
      <div class="ui message">
        {{entry.notes}}
      </div>
    {{/if}}
  </div>
  <div class="extra content">
  {{#if entry.on_offer_since}}
    In offerta da {{moment-from-now entry.on_offer_since interval=10000}}<br />
    <button class="ui orange button" {{action "doCancelExchange"}}>Annulla scambio!</button>
  {{else}}
    {{#ui-popup tagName="button" on="click" class="ui button"}}
      <i class="exchange icon"></i>
      Scambio
    {{/ui-popup}}
    <div class="ui special popup">
      <div class="ui grid">
        <div class="ui form six column">
          <div class="field">
            Sei sicuro di voler offrire in scambio il tuo turno di linea?
          </div>
          <button class="ui button orange save" {{action "doExchange"}}>Scambia!</button>
        </div>
      </div>
    </div>
  {{/if}}
  </div>
</div>
