<div>
  <div class="level">
    <div class="level-item has-text-centered">
      <LinkTo class="box" @route="authen.flight.index"
              @query={{hash pilot_id=@member.id preset="m24" cls="GLD" roles="PIC,PICUS,DUAL,FI_PIC"}} >
        <p class="heading">
          Voli aliante negli ultimi 24 mesi
        </p>
        <p class="title">
          {{this.cs.gld_launches_in_24_months}}
          {{#if this.cs.gld_hours_in_24_months}}
            x {{format-duration-in-secs this.cs.gld_hours_in_24_months}} ore
          {{/if}}
        </p>
      </LinkTo>
    </div>

    <div class="level-item has-text-centered">
      <LinkTo class="box" @route="authen.flight.index"
              @query={{hash pilot_id=@member.id preset="d90" cls="GLD" roles="PIC,PICUS,DUAL,FI_PIC"}} >
        <p class="heading">
          Voli aliante negli ultimi 90 giorni
        </p>
        <p class="title">
          {{this.cs.gld_launches_in_90_days}}
          {{#if this.cs.gld_hours_in_90_days}}
            x {{format-duration-in-secs this.cs.gld_hours_in_90_days}} ore
          {{/if}}
        </p>
      </LinkTo>
    </div>

    <div class="level-item has-text-centered">
      <LinkTo class="box" @route="authen.flight.index"
              @query={{hash pilot_id=@member.id preset="m24" cls="TMG" roles="PIC,PICUS,DUAL,FI_PIC"}} >
        <p class="heading">
          Voli TMG negli ultimi 24 mesi
        </p>
        <p class="title">
          {{this.cs.tmg_launches_in_24_months}}
          {{#if this.cs.tmg_hours_in_24_months}}
            x {{format-duration-in-secs this.cs.tmg_hours_in_24_months}} ore
          {{/if}}
        </p>
      </LinkTo>
    </div>

    <div class="level-item has-text-centered">
      <LinkTo class="box" @route="authen.flight.index"
              @query={{hash pilot_id=@member.id preset="d90" cls="TMG" roles="PIC,PICUS,DUAL,FI_PIC"}} >
        <p class="heading">
          Voli TMG negli ultimi 90 giorni
        </p>
        <p class="title">
          {{this.cs.tmg_launches_in_90_days}}
          {{#if this.cs.tmg_hours_in_90_days}}
            x {{format-duration-in-secs this.cs.tmg_hours_in_90_days}} ore
          {{/if}}
        </p>
      </LinkTo>
    </div>

{{!--
    <div class="level-item has-text-centered">
      <LinkTo class="box" @route="authen.flight.index"
              @query={{hash pilot_id=@member.id preset="m24" cls="SEP" roles="PIC,PICUS,DUAL,FI_PIC"}} >
        <p class="heading">
          Voli SEP negli ultimi 24 mesi
        </p>
        <p class="title">
          {{this.cs.sep_launches_in_24_months}}
          {{#if this.cs.sep_hours_in_24_months}}
            x {{format-duration-in-secs this.cs.sep_hours_in_24_months}} ore
          {{/if}}
        </p>
      </LinkTo>
    </div>

    <div class="level-item has-text-centered">
      <LinkTo class="box" @route="authen.flight.index"
              @query={{hash pilot_id=@member.id preset="d90" cls="SEP" roles="PIC,PICUS,DUAL,FI_PIC"}} >
        <p class="heading">
          Voli SEP negli ultimi 90 giorni
        </p>
        <p class="title">
          {{this.cs.sep_launches_in_90_days}}
          {{#if this.cs.sep_hours_in_90_days}}
            x {{format-duration-in-secs this.cs.sep_hours_in_90_days}} ore
          {{/if}}
        </p>
      </LinkTo>
    </div>
--}}

  </div>

  {{#each-in this.glm as |symbol ft|}}
    <ConditionExplorer @conds={{this.conds}} @symbol={{symbol}} />
  {{/each-in}}

  <button class="button is-tiny" {{on "click" this.open_debug}}>
    <span class="icon"><FaIcon @icon="bug" /></span>
  </button>

  {{#if this.debug}}
    <pre class="is-size-7">
      {{this.cs_text}}
    </pre>
  {{/if}}
</div>
