<div>
  <div class="level">
    <div class="level-item has-text-centered">
      <div class="box">
        <p class="heading">
          Voli aliante negli ultimi 24 mesi
        </p>
        <p class="title">
          {{this.cs.gld_launches_in_24_months}}
          {{#if this.cs.gld_hours_in_24_months}}
            x {{format-duration-in-secs this.cs.gld_hours_in_24_months}} ore
          {{/if}}
        </p>
      </div>
    </div>

    <div class="level-item has-text-centered">
      <div class="box">
        <p class="heading">
          Voli aliante negli ultimi 90 giorni
        </p>
        <p class="title">
          {{this.cs.gld_launches_in_90_days}}
          {{#if this.cs.gld_hours_in_90_days}}
            x {{format-duration-in-secs this.cs.gld_hours_in_90_days}} ore
          {{/if}}
        </p>
      </div>
    </div>

    <div class="level-item has-text-centered">
      <div class="box">
        <p class="heading">
          Voli TMG negli ultimi 24 mesi
        </p>
        <p class="title">
          {{this.cs.tmg_launches_in_24_months}}
          {{#if this.cs.tmg_hours_in_24_months}}
            x {{format-duration-in-secs this.cs.tmg_hours_in_24_months}} ore
          {{/if}}
        </p>
      </div>
    </div>

    <div class="level-item has-text-centered">
      <div class="box">
        <p class="heading">
          Voli TMG negli ultimi 90 giorni
        </p>
        <p class="title">
          {{this.cs.tmg_launches_in_90_days}}
          {{#if this.cs.tmg_hours_in_90_days}}
            x {{format-duration-in-secs this.cs.tmg_hours_in_90_days}} ore
          {{/if}}
        </p>
      </div>
    </div>
  </div>

  {{#each-in this.glm as |symbol ft|}}
    <a {{on "click" (fn this.toggle_expand symbol)}}>
      <span class="tag {{if ft.valid "is-success" "is-danger"}}">
        <FaIcon @icon={{if ft.valid "check" "xmark"}} />
      </span>
      {{t (concat "currency_explorer.matrix." symbol)}}
      {{#if ft.until}}
        fino a {{format-date ft.until format="dmy"}}
        {{#if (this.date_is_within_one_month ft.until)}}
          <span class="has-text-warning">
            <FaIcon @icon="triangle-exclamation" />
          </span>
        {{/if}}
      {{/if}}
    </a>

    {{#if (and ft.depends (this.is_expanded symbol))}}
      <br />
      <div class="is-size-7" style="margin-left: 2em">
        {{#each ft.depends as |dep|}}
          <span class="tag {{if (get this.cs (concat dep ".valid")) "is-success" "is-danger"}}">
            <FaIcon @icon={{if (get this.cs (concat dep ".valid")) "check" "xmark"}} />
          </span>

          {{t (concat "currency_explorer.symbol." dep)}}: {{format-date (get this.cs (concat dep ".until"))}}<br />
        {{/each}}
      </div>
    {{/if}}
    <br />
  {{/each-in}}
</div>
