<div class="box">
  <div class="grid">
    <div class="cell">
      <a {{on "click" (fn this.set_preset "d30")}}>
        <span class="tag {{if (eq this.preset "d30") "is-success" "is-dark"}}">ultimo mese</span>
      </a>
      <a {{on "click" (fn this.set_preset "d90")}}>
        <span class="tag {{if (eq this.preset "d90") "is-success" "is-dark"}}">ultimi 3 mesi</span>
      </a>
      <a {{on "click" (fn this.set_preset "d365")}}>
        <span class="tag {{if (eq this.preset "d365") "is-success" "is-dark"}}">ultimi 12 mesi</span>
      </a>
      <a {{on "click" (fn this.set_preset "dy")}}>
        <span class="tag {{if (eq this.preset "dy") "is-success" "is-dark"}}">Anno solare</span>
      </a>
    </div>

    <div class="cell">
      <button class="button {{if this.details "is-light" "is-dark"}}" {{on "click" this.details_toggle}}>
        <span class="icon is-small">
          <FaIcon @icon="circle-info" />
        </span>
        <span>Dettagli</span>
      </button>
    </div>

    <div class="cell">
      <button class="button {{if this.flt_show "is-light" "is-dark"}}" {{on "click" this.flt_show_toggle}}>
        <span class="icon is-small">
          <FaIcon @icon="filter" />
        </span>
        <span>Filtri</span>
      </button>
    </div>

    <div class="cell">
      <button class="button is-link is-small" {{on "click" this.download_as_ods}}>
        <span class="icon is-small">
          <FaIcon @icon="download" />
        </span>
        <span>ODS</span>
      </button>
      <button class="button is-link is-small" {{on "click" this.download_as_xlsx}}>
        <span class="icon is-small">
          <FaIcon @icon="download" />
        </span>
        <span>XLSX</span>
      </button>
      <button class="button is-link is-small" {{on "click" this.download_as_csv}}>
        <span class="icon is-small">
          <FaIcon @icon="download" />
        </span>
        <span>CSV</span>
      </button>
      <button class="button is-link is-small" {{on "click" this.download_as_json}}>
        <span class="icon is-small">
          <FaIcon @icon="download" />
        </span>
        <span>JSON</span>
      </button>
{{!--      <button class="button is-success" {{on "click" this.goto_flight_new}}>
        <span class="icon is-small">
          <FaIcon @icon="plus" />
        </span>
        <span>Volo...</span>
      </button>
--}}
    </div>

    {{#if this.flt_show}}
      <div class="cell is-col-start-1">
        <label>
          Da<br />
          <input type="date" class="input" value={{this.sd_value}}
                 {{on "change" this.flt_sd_on_change}}
                 {{on "keypress" this.flt_sd_on_keypress}}
          />
        </label>
      </div>

      <div class="cell">
        <label>
          A<br />
          <input type="date" class="input" value={{this.ed_value}}
                 {{on "change" this.flt_ed_on_change}}
                 {{on "keypress" this.flt_ed_on_keypress}}
          />
        </label>
      </div>

      <div class="cell">
        <label>
          Marche
          <input type="text" class="input" value={{this.flt_reg}} {{on "change" this.flt_reg_change}} />
        </label>
      </div>

      <div class="cell">
        {{t "flights_table.launch_label"}}
        <PowerSelect @options={{this.flt_launch_opts}}
                     @selected={{this.flt_launch_sel}}
                     @onChange={{this.flt_launch_change}}
                     @placeholder={{t "flights_table.launch_placeholder"}} as |el|>
          {{t (concat "flights_table.launch." el.symbol)}}
        </PowerSelect>
      </div>

      <div class="cell is-col-start-1">
        <label>
          <input type="checkbox" checked={{this.flt_all_roles}} {{on "change" this.flt_all_roles_change}} />
          Tutti i ruoli
        </label><br />

        {{#each this.roles as |role|}}
          <label>
            <input type="checkbox" checked={{role.enabled}} {{on "change" (fn this.flt_role_change role)}} />
            {{role.name}}
          </label><br />
        {{/each}}
      </div>

      <div class="cell">
        <label>
          <input type="checkbox" checked={{this.flt_all_classes}} {{on "change" this.flt_all_classes_change}} />
          Tutte le classi
        </label><br />


        {{#each this.classes as |cls|}}
          <label>
            <input type="checkbox" checked={{cls.enabled}} {{on "change" (fn this.flt_class_change cls)}} />
            {{cls.name}}
          </label><br />
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>

<table class="flights-table table">
  <thead>
    <tr>
      <th colspan=4></th>
      <th colspan=2>Decollo</th>
      <th colspan=2>Atterraggio</th>
      <th colspan=10></th>
    </tr>
    <tr>
      <th>
        <input type="checkbox" checked={{this.all_selected}} {{on "change" this.all_selected_change}} />
      </th>
      <th>Data</th>
      <th>Marche</th>

      {{#if this.details}}
      <th>Tipo</th>
      {{/if}}

      <th>Ora</th>
      <th>Luogo</th>
      <th>Ora</th>
      <th>Luogo</th>
      {{#if this.details}}
      <th>Pilota 1</th>
      <th>Pilota 2</th>
      {{else}}
      <th>Ruolo</th>
      {{/if}}
      <th>Durata</th>
      <th>Quota</th>
      {{#if this.details}}
      <th>Bollini</th>
      <th>Lancio</th>
      {{/if}}
    </tr>
  </thead>

  <tbody>
    {{#each this.sorted_models key="id" as |model|}}

    <tr>
      <td>
        <input type="checkbox"
               checked={{model.selected}}
               {{on "click" this.prevent_bubble}}
               {{on "change" (fn this.flight_selected_change model)}}
        />
      </td>
      <td>
        {{format-date model.takeoff_time format="dmy"}}
      </td>
      <td class="aircraft_reg">
        {{#if model.aircraft}}
          {{#if (this.is_aircraft_mine model.aircraft)}}
            <LinkTo @route="authen.aircraft.show" @model={{model.aircraft.id}}>
              {{model.aircraft_reg}}
            </LinkTo>
          {{else}}
            {{model.aircraft_reg}}
          {{/if}}
        {{else}}
          {{model.aircraft_reg}}
        {{/if}}
      </td>

      {{#if this.details}}
      <td>
        {{model.aircraft_class}}
      </td>
      {{/if}}

      <td class="time">
        {{format-time model.takeoff_time format="hhmm"}}
      </td>
      <td>
        {{model.takeoff_location_raw}}
      </td>
      <td class="time">
        {{format-time model.landing_time format="hhmm"}}
      </td>
      <td>
        {{model.landing_location_raw}}
      </td>

      {{#if this.details}}
      <td>
        {{#if model.pilot1_name}}
          {{model.pilot1_name}}
          ({{model.pilot1_role}})
        {{/if}}
      </td>
      <td>
        {{#if model.pilot2_name}}
          {{model.pilot2_name}}
          ({{model.pilot2_role}})
        {{/if}}
      </td>
      {{else}}
      <td>
        {{this.my_role model}}
      </td>
      {{/if}}

      <td>
        {{format-duration model.duration}}
      </td>
      <td class="altitude">
        {{model.acao_quota}}
      </td>

      {{#if this.details}}
      <td>
        {{model.acao_bollini_volo}}
      </td>
      <td>
        {{model.launch_type}}
      </td>
      {{/if}}
      <td>
        <LinkTo @route="authen.flight.show" @model={{model.id}}>
          <FaIcon @icon="arrow-up-right-from-square" />
        </LinkTo>
      </td>
    </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td>{{this.total_count}}</td>
      <td colspan=8></td>
      {{#if this.details}}
      <td></td>
      {{/if}}
      <td>{{format-duration this.total_duration}}</td>
      <td colspan=1></td>

      {{#if this.details}}
      <td>{{this.total_bollini}}</td>
      {{/if}}
      <td colspan=8></td>
    </tr>
  </tfoot>
</table>
