<LinkTo @route="authen.index" class="item" @activeClass="is-active"> Home </LinkTo>

<!--
<LinkTo @route="radar" class="item" @activeClass="is-active"> Radar </LinkTo>
<LinkTo @route="meteo" class="item" @activeClass="is-active"> Meteo </LinkTo>
-->

{{#if @currentRenewIsOpenAndNeeded}}
  <LinkTo @route="authen.membership.renew" @model={{@currentYear.year}} class="item" @activeClass="is-active">Rinnova l'iscrizione {{@currentYear.year}}</LinkTo>
{{/if}}
{{#if @nextRenewIsOpenAndNeeded}}
  <LinkTo @route="authen.membership.renew" @model={{@nextYear.year}} class="item" @activeClass="is-active">Rinnova l'iscrizione {{@nextYear.year}}</LinkTo>
{{/if}}


<!--
<LinkTo @route="authen.shop" class="item" @activeClass="is-active"> Shop </LinkTo>
-->

<LinkTo @route="authen.invoices" class="item teal" @activeClass="is-active">
  Ricevute
  {{#if @pending_invoices}}
    <div class="ui red label">{{@pending_invoices.length}}</div>
  {{/if}}
</LinkTo>

<LinkTo @route="authen.payments" class="item teal" @activeClass="is-active">
  Pagamenti
  {{#if @pending_payments}}
    <div class="ui red label">{{@pending_payments.length}}</div>
  {{/if}}
</LinkTo>

<!--<LinkTo @route="authen.memberships" class="item" @activeClass="is-active"> Iscrizioni </LinkTo>-->
<!--<LinkTo @route="authen.licenses" class="item" @activeClass="is-active"> Licenze </LinkTo>-->
<!--<LinkTo @route="authen.medicals" class="item" @activeClass="is-active"> Visite mediche </LinkTo>-->
<!--<LinkTo @route="authen.bar.transactions" class="item" @activeClass="is-active"> Conto Bar </LinkTo>-->
<!--<LinkTo @route="authen.token.transactions" class="item" @activeClass="is-active"> Conto Bollini </LinkTo>-->
<!--<LinkTo @route="authen.flights" class="item" @activeClass="is-active"> Stralcio Voli </LinkTo>-->
<!--<LinkTo @route="authen.aircrafts" class="item" @activeClass="is-active"> Miei Alianti </LinkTo>-->

<div class="item">
  <div class="header">Turni di linea</div>
  {{#if @rosterCurStatus.can_select_entries}}
    <LinkTo @route="authen.roster.select" @model={{@rosterCurStatus.year}} class="item" @activeClass="is-active">
      Selezione {{@rosterCurStatus.year}}
      {{#unless @rosterCurStatus.needed_entries_present}}
        <div class="ui medium red circular label">&nbsp;&nbsp;<i class="exclamation icon" /></div>
      {{/unless}}
    </LinkTo>
  {{/if}}
  {{#if @rosterNextStatus.can_select_entries}}
    <LinkTo @route="authen.roster.select" @model={{@rosterNextStatus.year}} class="item" @activeClass="is-active">
      Selezione {{@rosterNextStatus.year}}
      {{#unless @rosterNextStatus.needed_entries_present}}
        <div class="ui medium red circular label">&nbsp;&nbsp;<i class="exclamation icon" /></div>
      {{/unless}}
    </LinkTo>
  {{/if}}
  <LinkTo @route="authen.roster.days" class="item" @activeClass="is-active"> Tutti i turni </LinkTo>
  <LinkTo @route="authen.roster.today" class="item" @activeClass="is-active"> Turni di oggi </LinkTo>
</div>

<!--
{{#if person.acao_is_tug_pilot}}
<div class="item">
  <div class="header">Turni di traino</div>
  <LinkTo @route="authen.tow-roster.select" class="item" @activeClass="is-active"> Selezione </LinkTo>
  <LinkTo @route="authen.tow-roster.days" class="item" @activeClass="is-active"> I tuoi turni </LinkTo>
  <LinkTo @route="authen.tow-roster.today" class="item" @activeClass="is-active"> Turni di oggi </LinkTo>
</div>
{{/if}}
-->
