<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <LinkTo @route="authen.index" class="navbar-item" @activeClass="is-active">
      <span class="icon">
        <img src="/favicon-48x48.png" />
      </span>
      ACAO Servizi
    </LinkTo>

    <a role="button" class="navbar-burger {{if this.hamburger_active "is-active"}}" {{on "click" this.hamburger_toggle}} aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu {{if this.hamburger_active "is-active"}}" {{on "click" this.hamburger_hide}}>
    <div class="navbar-start">
      <LinkTo @route="authen.flights" class="navbar-item">
        Stralcio Voli
      </LinkTo>

      <LinkTo @route="authen.aircrafts" class="navbar-item">
        Aeromobili
      </LinkTo>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{t "menu.billing"}}
          {{#if @pending_debts}}
            <span class="tag is-danger"><FaIcon @icon="exclamation" /></span>
          {{/if}}
        </a>

        <div class="navbar-dropdown">
          <LinkTo @route="authen.token.transactions" class="navbar-item" @activeClass="is-active">
            {{t "menu.token_transactions"}}
          </LinkTo>

          <LinkTo @route="authen.bar.transactions" class="navbar-item" @activeClass="is-active">
            {{t "menu.bar_transactions"}}
          </LinkTo>

          <LinkTo @route="authen.debt.index" class="navbar-item" @activeClass="is-active">
            {{t "menu.debts"}}
            {{#if @pending_debts}}<span class="tag is-danger">{{@pending_debts.length}}</span>{{/if}}
          </LinkTo>

          <LinkTo @route="authen.invoices" class="navbar-item" @activeClass="is-active">
            {{t "menu.invoices"}}
          </LinkTo>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{t "menu.roster"}}
        </a>

        <div class="navbar-dropdown">
          <LinkTo class="navbar-item" @route="authen.roster.days" @activeClass="is-active">{{t "menu.all_roster_days"}}</LinkTo>
          <LinkTo class="navbar-item" @route="authen.roster.today" @activeClass="is-active">{{t "menu.today_roster_entries"}}</LinkTo>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <ul class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <FaIcon @icon="user" /> {{if @person.nickname @person.nickname @person.first_name}}
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" {{on 'click' this.logout}}>
            Logout
          </a>
        </div>
      </ul>
    </div>
  </div>
</nav>
