<div class="roster-selector-day {{if @selected "selected"}} {{if this.unavailable "unavailable"}}" {{on "click" this.click}}>
  <div class="background" />
  <div class="date-block {{if @day.high_season "high-season" "low-season"}}">
    <div class="date">
      {{format-date @day.date format="ddd"}}<br />
      {{format-date @day.date format="dm"}}
    </div>
  </div>
  <div class="entries">
    {{#each this.sorted_entries as |entry|}}
      <div class="entry">• {{entry.member.person.first_name}} {{entry.member.person.last_name}}</div>
    {{/each}}

    {{#if @selected}}
      <div class="entry">• {{@member.person.first_name}} {{@member.person.last_name}}</div>
    {{/if}}

    {{#if @show_slots}}
      {{#each this.missing_entries}}
        <div class="entry empty">• &nbsp;</div>
      {{/each}}
    {{/if}}
  </div>
</div>
