<div class="navbar">
  <div class="navbar-brand">
    <div class="navbar-item">
      <span class="tag {{if this.enough_total "is-success" "is-danger"}}">
        {{t "comp.roster_selector.total_entries" count=this.selection_count needed=@needed_total}}
      </span>
      <span class="tag {{if this.enough_high_season "is-success" "is-danger"}}">
        {{t "comp.roster_selector.high_season_entries" count=this.selection_high_season_count needed=@needed_high_season}}
      </span>
    </div>
    <div class="navbar-urger">
      <button class="button" type="button" {{on "click" this.toggle_filters}}>
        <span class="icon"><FaIcon @icon="filter" /></span>
      </button>
    </div>
  </div>

  <div class="navbar-menu {{if this.flt_show "is-active"}}">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <FaIcon @icon="filter" /> {{t "comp.roster_selector.filters"}}
        </a>

        <div class="navbar-dropdown is-right">
          {{#if this.flt_incoming_enabled}}
            <div class="navbar-item">
              <label>
                <input type="checkbox" checked={{this.flt_incoming}} {{on "change" this.flt_incoming_changed}} />
                {{t "comp.roster_selector.incoming"}}
              </label>
            </div>
          {{/if}}
          <div class="navbar-item">
            <label>
              <input type="checkbox" checked={{this.flt_high_season}} {{on "change" this.flt_high_season_changed}} />
              {{t "comp.roster_selector.high_season"}}
            </label>
          </div>
          <div class="navbar-item">
            <label>
              <input type="checkbox" checked={{this.flt_low_season}} {{on "change" this.flt_low_season_changed}} />
              {{t "comp.roster_selector.low_season"}}
            </label>
          </div>

          {{#if this.flt_available_slots_enabled}}
            <div class="navbar-item">
              <label>
                <input type="checkbox" checked={{this.flt_available_slots}} {{on "change" this.flt_available_slots_changed}} />
                {{t "comp.roster_selector.only_available_days"}}
              </label>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="roster-selector-days">
{{this.wizard.selected_roster_days.length}}
  {{#if this.sorted_filtered_roster_days}}
    <div class="items">
    {{#each this.sorted_filtered_roster_days as |day|}}
      <RosterSelectorDay
        @day={{day}}
        @show_slots={{@show_slots}}
        @selected={{this.is_selected day}}
        @member={{@member}}
        @on_add={{this.on_add}}
        @on_del={{this.on_del}}
      />
    {{/each}}
    </div>
  {{else}}
    <div class="notification is-info">
      {{t "comp.roster_selector.no_days" year=this.year}}
    </div>
  {{/if}}
</div>
