{{page-title (t "authen.roster.days.page_title")}}

<div class="level">
  <div class="level-item">
    <button class="button" type="button" {{on "click" this.go_prev}}>
      <span class="icon is-large">
        <FaIcon @icon="arrow-left-long" />
      </span>
      <span>
        {{this.prev_year}}
      </span>
    </button>

    <span class="is-size-3">{{this.current_year}}</span>

    <button class="button" type="button" {{on "click" this.go_next}}>
      <span>
        {{this.next_year}}
      </span>
      <span class="icon is-large">
        <FaIcon @icon="arrow-right-long" />
      </span>
    </button>
  </div>

  <div class="level-item">
    <label>
      <input type="checkbox" checked={{this.flt_incoming}} {{on "change" this.toggle_incoming}} />
      Prossimi
    </label>
  </div>
  <div class="level-item">
    <label>
      <input type="checkbox" checked={{this.flt_high_season}} {{on "change" this.toggle_high_season}} />
      Alta stagione
    </label>
  </div>
  <div class="level-item">
    <label>
      <input type="checkbox" checked={{this.flt_low_season}} {{on "change" this.toggle_low_season}} />
      Bassa stagione
    </label>
  </div>
  <div class="level-item">
    <label>
      <input type="checkbox" checked={{this.show_slots}} {{on "change" this.toggle_show_slots}} />
      Mostra slot
    </label>
  </div>
</div>

<div class="container">
  <div class="roster-days">
    {{#if this.sorted_filtered_roster_days}}
      <div class="items">
      {{#each this.sorted_filtered_roster_days as |day|}}
        <RosterDay @day={{day}} @show_slots={{this.show_slots}} />
      {{/each}}
      </div>
    {{else}}
      <div class="notification is-info">
        Nessuna giornata di linea selezonata
      </div>
    {{/if}}
  </div>

</div>
