{{page-title (t "authen.roster.days.page_title")}}
<div class="">
  <div class="box">
    <button class="button"  {{on "click" this.go_prev}}>
      <span class="icon is-large">
        <FaIcon @icon="arrow-left-long" />
      </span>
      <span>
        {{this.prev_year}}
      </span>
    </button>

    {{this.current_year}}

    <button class="button" {{on "click" this.go_next}}>
      <span class="icon is-large">
        <FaIcon @icon="arrow-right-long" />
      </span>
      <span>
        {{this.next_year}}
      </span>
    </button>
  </div>

  <div class="roster-days">
    {{#if this.sorted_filtered_roster_days}}
      <div class="items">
      {{#each this.sorted_filtered_roster_days as |day|}}
        <RosterDay @day={{day}} @show_slots={{this.show_slots}} />
      {{/each}}
      </div>
    {{else}}
      <div class="notification is-info">
        Non ci sono giornate di linea nel {{this.current_year}}
      </div>
    {{/if}}
  </div>

</div>
