{{title "Tutti i turni di linea"}}
<div class="ui container">
  <div class="ui raised segment">
    <div class="ui grid">
      <div class="ui seven wide column">
        {{#link-to "authen.roster.days" (query-params year=prevYear) tagname="button" class="fluid ui button"}}
          <i class="ui left arrow icon"></i>{{prevYear}}
        {{/link-to}}
      </div>
      <div class="ui two wide column">
        <h1 class="ui header">{{currentYear}}</h1>
      </div>
      <div class="ui seven wide column">
        {{#link-to "authen.roster.days" (query-params year=nextYear) tagname="button" class="fluid ui button"}}
          {{nextYear}}<i class="ui right arrow icon"></i>
        {{/link-to}}
      </div>

      <div class="ui sixteen wide column">
        {{#ui-checkbox class="ui toggle" checked=showSlots onChange=(action (mut showSlots))}}
          Mostra slot
        {{/ui-checkbox}}

        {{#ui-checkbox class="ui toggle" checked=filterComplete onChange=(action (mut filterComplete))}}
          Solo Incompleti
        {{/ui-checkbox}}
      </div>
    </div>
  </div>
  <div class="ui raised segment">
    {{#if model}}
      <div class="ui cards">
      {{#each sortedFilteredRosterDays as |day|}}
        {{roster-day day=day showSlots=showSlots}}
      {{/each}}
      </div>
    {{else}}
      <div class="ui blue message">
        <h1 class="ui header">
          Non ci sono giornate di linea nel {{currentYear}}
        </h1>
      </div>
    {{/if}}
  </div>
</div>
