{{page-title (t "authen.roster.today.page_title")}}
<div class="container">
  {{#if this.day.today}}

    <h1 class="title">{{format-date this.day.today.date}}</h1>

    {{#each this.day.today.roster_entries as |entry|}}
      <i class="ui {{if entry.chief "spy" "user"}} icon"></i>
      {{entry.member.person.first_name}} {{entry.member.person.last_name}}<br />
      {{#if entry.notes}}
        <div class="notification">
          {{entry.notes}}
        </div>
      {{/if}}
    {{/each}}
  {{else}}
    <div class="notification is-info">
      <h1 class="title">Nessun turno di linea stabilito per oggi</h1>
    </div>
  {{/if}}
</div>
