{{page-title (t "authen.roster.today.page_title")}}
<div class="container">
  {{#if this.today}}

    <h1 class="title">{{format-date this.today.date}}</h1>

    {{#each this.today.entries as |entry|}}
      <FaIcon @icon={{if entry.chief "spy" "user"}} />
      {{entry.member.person.first_name}} {{entry.member.person.last_name}}
      {{#if entry.notes}}
        <div class="notification">
          {{entry.notes}}
        </div>
      {{/if}}
      <br />
    {{/each}}
  {{else}}
    <div class="notification is-info">
      <h1 class="title">Nessun turno di linea stabilito per oggi</h1>
    </div>
  {{/if}}
</div>
