{{page-title (t "authen.roster.today.page_title")}}
<div class="container">
  {{#if this.model}}
    <h1 class="title">{{format-date this.model.date "DD-MM-YYYY" }}</h1>

    {{#each this.model.roster_entries as |entry|}}
      <i class="ui {{if entry.chief "spy" "user"}} icon"></i>
      {{entry.person.first_name}} {{entry.person.last_name}}<br />
      {{#if entry.notes}}
        <div class="notification">
          {{entry.notes}}
        </div>
      {{/if}}
    {{/each}}
  {{else}}
    <div class="notification is-info">
      <h1 class="title">Nessun turno di linea stabilito per oggi</h1>
    </div>
  {{/if}}
</div>
