<div class="ui segment">
  {{ui-checkbox class="ui fitted toggle" checked=true onChange=(action (mut enableEmail))}}
  Autorizzo l'invio per e-mail delle comunicazioni, convocazioni di assemblee e ogni altra disposizione obbligatoria.
  (DPR 15 marzo 1997&nbsp; n. 59 art 15 secondo comma, D.P.R. 28 dicembre 2000 n.445 art. 14 comma terzo, D.P.R. 13 febbraio 2001 n. 123 art. 8,
  Direttiva 2000/31/CE 8 giugno 2000 art. 11, comma 1) *
</div>

<div class="ui segment">
  {{ui-checkbox class="ui fitted toggle" onChange=(action (mut acceptRules))}}
  Dichiaro  di aver preso visione del
  <a href="Regolamento_Aeroportuale_ACAO_2014.pdf" target="_blank">Regolamento dell'Aeroclub</a>
  e di accettarlo in modo totale e incondizionato.
</div>

<table class="renew-services ui celled table">
  <thead>
    <tr>
      <th></th>
      <th>Elemento</th>
      <th>Costo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>{{get (get serviceBySymbol context.ass_type) 'name'}}</td>
      <td class="price">{{get (get serviceBySymbol context.ass_type) 'price'}} €</td>
    </tr>
    {{#if context.cav_type}}
    <tr>
      <td class="collapsing">
        {{ui-checkbox class="ui fitted toggle" checked=enableCav onChange=(action (mut enableCav))}}
      </td>
      <td>{{get (get serviceBySymbol context.cav_type) 'name'}}</td>
      <td class="price">{{get (get serviceBySymbol context.cav_type) 'price'}} €</td>
    </tr>
    {{/if}}

    {{#each services key="@index" as |service index|}}
    <tr>
      <td>
        <a {{action 'removeService' index}}><i class="big red remove icon"></i></a>
      </td>
      <td>
        {{#ui-dropdown class="selection fluid" onChange=(action 'setService' index) as |execute mapper|}}
          <div class="default text">Seleziona servizio...</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each serviceTypesSorted as |srv|}}
              {{#if srv.publish}}
              <div class="item" data-value="{{srv.symbol}}">
                {{srv.name}}
              </div>
              {{/if}}
            {{/each}}
          </div>
        {{/ui-dropdown}}
        {{#if (get (get serviceBySymbol service.type) 'extra_info') }}
          <div class="ui labeled input">
            <div class="ui label">
              {{get (get serviceBySymbol service.type) 'extra_info'}}
            </div>
            <input placeholder="D-1234" type="text" onChange="{{action 'setServiceExtraInfo' index}}">
          </div>
        {{/if}}
        {{#if (get (get serviceBySymbol service.type) 'notes') }}
          <div class="small ui yellow message">
            {{get (get serviceBySymbol service.type) 'notes'}}
          </div>
        {{/if}}
      </td>
      <td class="price">{{get (get serviceBySymbol service.type) 'price'}} €</td>
    </tr>
    {{/each}}

    <tr><td></td><td><a {{action 'addService'}}><i class="plus icon"></i> Aggiungi servizio (roulotte, carrello, ecc...)</a></td></tr>

  </tbody>
  <tfoot>
    <tr>
      <th colspan=2>Totale</th>
      <th class="total price">{{total}} €</th>
    </tr>
  </tfoot>
</table>

<p>
  Metodo di pagamento:
</p>
<div class="three ui buttons">
  <button class="ui button" {{action (mut paymentMethod) 'wire'}}><i class="ui university icon"></i><br /> Bonifico Bancario</button>
  <button class="ui button" {{action (mut paymentMethod) 'check'}}><i class="ui tag icon"></i><br /> Assegno</button>
  <button class="ui button" {{action (mut paymentMethod) 'cash'}}><i class="ui euro icon"></i><br /> Contanti</button>
</div>

<button class="huge ui fluid primary button {{if submitting 'loading'}}" disabled={{formInvalid}} {{action 'commit'}}>Procedi al pagamento...</button>

<div class="ui segment">
  <div class="ui blue ribbon label">State</div>
  <pre>
  {{#each-in this as |key val|}}
    {{key}}: {{val}}
  {{/each-in}}
  </pre>
</div>

<div class="ui segment">
  <div class="ui blue ribbon label">Context</div>
  <pre>
  {{#each-in context as |key val|}}
    {{key}}: {{val}}
  {{/each-in}}
  </pre>
</div>
