<div class="ui container">
  {{#if renewIsOpen}}
    <div class="ui segment">
      <h1 class="ui header">Ciao {{session.person.first_name}},</h1>

      {{#if context.membership}}
        <h1 class="ui header">
          Risulti già iscritto per l'anno {{context.renew_for_year}}<i class="huge thumbs outline up icon"></i>
        </h1>

        {{#if paymentIsPending}}
          {{#link-to 'payment' context.membership.payment_id class="massive ui orange button" tagName="button"}}
            Il pagamento è pendente
          {{/link-to}}
        {{/if}}

      {{else}}
      <p>
        Con questa procedura potrai rinnovare la tua iscrizione per l'anno {{context.renew_for_year}}.
      </p>

      <p>
        Assicurati che i tuoi dati siano corretti:
      </p>
      <p>
        Nome: <strong>{{session.person.first_name}} {{session.person.last_name}}</strong><br />
        Data di nascita: <strong>{{moment-format session.person.birth_date 'DD-MM-YYYY'}}</strong><br />
        Email: <strong>{{#each myEmails as |item index|}}{{if index ', '}}{{item.value}}{{/each}}</strong><br />
        Telefono fisso: <strong>{{#each myFixedPhones as |item index|}}{{if index ', '}}{{item.value}}{{/each}}</strong><br />
        Cellulare: <strong>{{#each myMobiles as |item index|}}{{if index ', '}}{{item.value}}{{/each}}</strong><br />
      </p>

      <button class="huge ui fluid primary button" disabled={{formInvalid}} {{action 'commit'}}>Procedi...</button>
      {{/if}}
    </div>
  {{else}}
    <div class="ui orange message">
      <h1 class="ui header">
        {{#if context.renew_for_year}}
          L'iscrizione per l'anno {{context.renew_for_year}} non è ancora aperta, aprirà {{moment-from-now context.opening_time interval=1000}}
        {{else}}
          L'iscrizione non è aperta.
        {{/if}}
      </h1>
    </div>
  {{/if}}
</div>
