{{title "Riassunto"}}
<table class="renew-services ui celled table">
  <thead>
    <tr>
      <th>Elemento</th>
      <th>Costo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{assService.name}}</td>
      <td class="price">{{numeral-format assService.price format="0.00"}} €</td>
    </tr>
    {{#if enableCav}}
    <tr>
      <td>{{cavService.name}}</td>
      <td class="price">{{numeral-format cavService.price format="0.00"}} €</td>
    </tr>
    {{/if}}

    {{#each services key="@index" as |service index|}}
    <tr>
      <td>
        {{service.type.name}}{{#if service.extraInfo}} - {{service.extraInfo}}{{/if}}
      </td>
      <td class="price">{{numeral-format service.type.price format="0.00"}} €</td>
    </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th>Totale</th>
      <td class="total price">{{numeral-format total format="0.00"}} €</td>
    </tr>
  </tfoot>
</table>

<button class="huge ui fluid primary button {{if submitting "loading disabled"}}" {{action "commit"}}>Conferma iscrizione!</button>
{{#if submitError}}
<div class="ui red message">
  {{submitError}}
</div>
{{/if}}
