{{page-title "Turni di traino di oggi"}}
<div class="ui container">
  <div class="ui raised segment">

    {{#if model}}
      <h1 class="ui header">{{format-date model.date "DD-MM-YYYY" }}</h1>

      {{#each model.roster_entries as |entry|}}
        <i class="ui icon"></i>
        {{entry.person.first_name}} {{entry.person.last_name}}<br />
        {{#if entry.notes}}
          <div class="ui message">
            {{entry.notes}}
          </div>
        {{/if}}
      {{/each}}
    {{else}}
      <div class="ui blue message">
        <h1 class="ui header">Nessun turno di traino stabilito per oggi</h1>
      </div>
    {{/if}}
  </div>
</div>
