<div class="card">
  <div class="content">
    <div class="header">{{item.count}} {{item.service.name}}</div>
    <div class="description">
      {{item.service.descr}}
    </div>
  </div>
  <div class="extra content">
    <div class="ui action small input" style="width: 5em">
      {{input value=item.count}}
      <button class="ui icon small button" type="button" {{action "remove"}}><i class="ui remove icon"></i></button>
      <button class="ui icon small button" type="button" {{action "minusOne"}}><i class="ui minus icon"></i></button>
      <button class="ui icon small button" type="button" {{action "plusOne"}}><i class="ui plus icon"></i></button>
    </div>

    {{totalPrice}} €
  </div>
</div>
