{{page-title "Licenze"}}

<div class="container page authen-license-index">
  <div class="grid is-col-min-20">
    {{#each this.sorted_licenses key="id" as |license|}}
      <div class="card cell">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
               <FaIcon @icon="id-card" @size="3x" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">
                <LinkTo @route="authen.license.show" @model={{license.id}}>
                  {{license.type}} {{license.identifier}}
                </LinkTo>
              </p>
              <p class="subtitle is-6"></p>
            </div>
          </div>
          <div class="content">
            Rilasciata Il: <strong>{{format-date license.issued_at}}</strong><br />
            Valida Al: <strong>{{format-date license.valid_to}}</strong><br />
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>


