{{page-title "Licenza"}}
<div class="container page authen-aircraft">
  <nav class="panel">
    <p class="panel-heading">
      <div class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <FaIcon @icon="id-card" @size="2x" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">
            License <strong>{{this.license.identifier}}</strong>
          </p>
          <p class="subtitle is-6">
            {{this.license.type}}
          </p>
        </div>
      </div>
    </p>
    <div class="panel-block is-active">
      <div>
        Rilasciata il: <strong>{{format-date this.license.issued_at format="dmy"}}</strong><br />
        Valida al: <strong>{{format-date this.license.valid_to format="dmy"}}</strong><br />

        <div class="field">
          <label class="label">Rating/Endorsments</label>
          <div class="field is-grouped is-grouped-multiline">
            {{#each this.license.ratings as |rating|}}
              <div class="control">
                <div class="card">
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                          <FaIcon @icon="medal" @size="2x" />
                        </figure>
                      </div>
                      <div class="media-content">
                        <p class="title is-4">
                          {{rating.rating_type.symbol}}
                        </p>
                        <p class="subtitle is-6">
                          {{rating.rating_type.name}}<br />
                          {{format-date rating.valid_to format="dmy"}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>

      </div>
    </div>
  </nav>
</div>
