{{title "Voli"}}
<div class="ui container">

<p>
Aircraft: {{input value=(mut aircraftReg)}}
</p>

<EmberTable as |t|>
  <t.head @columns={{columns}} />
  <t.body @rows={{porcodio}} @enableTree={{false}} as |b|>
    <b.row as |r|>
      <r.cell as |value column row|>
        {{#if column.cellComponent}}
          {{component column.cellComponent value=value}}
        {{else}}
          {{value}}
        {{/if}}
      </r.cell>
    </b.row>
  </t.body>
</EmberTable>
</div>
