<table class="ui celled table shop-checkout">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Servizio</th>
      <th>Prezzo</th>
    </tr>
  </thead>
  <tbody>
  {{#each cart.items as |item|}}
    <tr>
      <td>{{item.count}}</td>
      <td>{{item.service.name}}</td>
      <td class="price">{{item.service.price}} €</td>
    </tr>
  {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2">Totale</th>
      <th class="total price">{{total}} €</th>
    </tr>
  </tfoot>
</table>

<div class="ui clearing segment">
  <div class="ui grid">
    <div class="eleven wide column">
    </div>
    <div class="five wide column">
      <button class="ui big primary button" {{action "submit"}}>Procedi all'acquisto</button>
    </div>
  </div>
</div>
