<div class="container is-fluid">

  <p>
    <h2 class="title">{{this.member.person.full_name}}

    {{#if this.editing}}
      <button class="button is-warning" {{on "click" this.edit_abort}}>
        <span class="icon"><FaIcon @icon="xmark" /></span>
        <span>Annulla</span>
      </button>
      <button class="button is-primary {{if this.edit_committing "is-loading"}}"
              disabled={{this.edit_committing}}
              {{on "click" this.edit_commit}}>
        <span class="icon"><FaIcon @icon="floppy-disk" /></span>
        <span>Salva</span>
      </button>
    {{else}}
      <button class="button is-warning" {{on "click" this.edit_start}}>
        <span class="icon"><FaIcon @icon="edit" @size="2x" /></span>
      </button>
    {{/if}}

    </h2>
  </p>

  <CurrencyExplorer @status={{this.model.currency_status}} @expand_conditions={{false}} />

  {{#if this.editing}}
    <table class="box table">
      <tr>
        <th></th>
        <th>Abilitato</th>
        <th>Limitazione</th>
        <th>Fino a</th>
        <th>Motivo</th>
      </tr>
      <tr>
        <th>Vento</th>
        <td>
          <input class="checkbox" type="checkbox" checked={{this.member.wind_rating}}
            disabled={{or (not this.editing) this.member.wind_rating}}
            {{on "change" this.edit_wind_rating}}
          />
        </td>
        <td>
          <input class="checkbox" type="checkbox" checked={{this.member.wind_lim}}
            disabled={{not this.editing}}
            {{on "change" this.edit_wind_lim}}
          />
        </td>
        {{#if this.member.wind_lim}}
          <td>
            <input class="checkbox" type="date" value={{format-date-for-input this.member.wind_lim_to}}
              disabled={{not this.editing}}
              {{on "change" this.edit_wind_lim_to}}
            />
          </td>
          <td>
            <input class="checkbox" type="test" value={{this.member.wind_lim_reason}}
              disabled={{not this.editing}}
              {{on "change" this.edit_wind_lim_reason}}
            />
          </td>
        {{/if}}
      </tr>
      <tr>
        <th>Astir</th>
        <td>
          <input class="checkbox" type="checkbox" checked={{this.member.astir_rating}}
            disabled={{or (not this.editing) this.member.astir_rating}}
            {{on "change" this.edit_astir_rating}}
          />
        </td>
        <td>
          <input class="checkbox" type="checkbox" checked={{this.member.astir_lim}}
            disabled={{not this.editing}}
            {{on "change" this.edit_astir_lim}}
          />
        </td>
        {{#if this.member.astir_lim}}
          <td>
            <input class="checkbox" type="date" value={{format-date-for-input this.member.astir_lim_to}}
              disabled={{not this.editing}}
              {{on "change" this.edit_astir_lim_to}}
            />
          </td>
          <td>
            <input class="checkbox" type="test" value={{this.member.astir_lim_reason}}
              disabled={{not this.editing}}
              {{on "change" this.edit_astir_lim_reason}}
            />
          </td>
        {{/if}}
      </tr>
      <tr>
        <th>Discus</th>
        <td>
          <input class="checkbox" type="checkbox" checked={{this.member.discus_rating}}
            disabled={{or (not this.editing) this.member.discus_rating}}
            {{on "change" this.edit_discus_rating}}
          />
        </td>
        <td>
          <input class="checkbox" type="checkbox" checked={{this.member.discus_lim}}
            disabled={{not this.editing}}
            {{on "change" this.edit_discus_lim}}
          />
        </td>
        {{#if this.member.discus_lim}}
          <td>
            <input class="checkbox" type="date" value={{format-date-for-input this.member.discus_lim_to}}
              disabled={{not this.editing}}
              {{on "change" this.edit_discus_lim_to}}
            />
          </td>
          <td>
            <input class="checkbox" type="test" value={{this.member.discus_lim_reason}}
              disabled={{not this.editing}}
              {{on "change" this.edit_discus_lim_reason}}
            />
          </td>
        {{/if}}
      </tr>
      <tr>
        <th>DuoDiscus</th>
        <td>
          <input class="checkbox" type="checkbox" checked={{this.member.duodiscus_rating}}
            disabled={{or (not this.editing) this.member.duodiscus_rating}}
            {{on "change" this.edit_duodiscus_rating}}
          />
        </td>
        <td>
          <input class="checkbox" type="checkbox" checked={{this.member.duodiscus_lim}}
            disabled={{not this.editing}}
            {{on "change" this.edit_duodiscus_lim}}
          />
        </td>
        {{#if this.member.duodiscus_lim}}
          <td>
            <input class="checkbox" type="date" value={{format-date-for-input this.member.duodiscus_lim_to}}
              disabled={{not this.editing}}
              {{on "change" this.edit_duodiscus_lim_to}}
            />
          </td>
          <td>
            <input class="checkbox" type="test" value={{this.member.duodiscus_lim_reason}}
              disabled={{not this.editing}}
              {{on "change" this.edit_duodiscus_lim_reason}}
            />
          </td>
        {{/if}}
      </tr>
      <tr>
        <th>PAX</th>
        <td>
          <input class="checkbox" type="checkbox" checked={{this.cs.conds.pax_endorsment}} disabled />
        </td>
        <td>
          <input class="checkbox" type="checkbox" checked={{this.member.pax_lim}}
            disabled={{not this.editing}}
            {{on "change" this.edit_pax_lim}}
          />
        </td>
        {{#if this.member.pax_lim}}
          <td>
            <input class="checkbox" type="date" value={{format-date-for-input this.member.pax_lim_to}}
              disabled={{not this.editing}}
              {{on "change" this.edit_pax_lim_to}}
            />
          </td>
          <td>
            <input class="checkbox" type="test" value={{this.member.pax_lim_reason}}
              disabled={{not this.editing}}
              {{on "change" this.edit_pax_lim_reason}}
            />
          </td>
        {{/if}}
      </tr>
      <tr>
        <th>Solo</th>
        <td>
        </td>
        <td>
          <input class="checkbox" type="checkbox" checked={{this.member.solo_lim}}
            disabled={{not this.editing}}
            {{on "change" this.edit_solo_lim}}
          />
        </td>
        {{#if this.member.solo_lim}}
          <td>
            <input class="checkbox" type="date" value={{format-date-for-input this.member.solo_lim_to}}
              disabled={{not this.editing}}
              {{on "change" this.edit_solo_lim_to}}
            />
          </td>
          <td>
            <input class="checkbox" type="test" value={{this.member.solo_lim_reason}}
              disabled={{not this.editing}}
              {{on "change" this.edit_solo_lim_reason}}
            />
          </td>
        {{/if}}
      </tr>
    </table>

  {{else}}
    <div class="box">
      {{#if this.member.wind_rating}}
        <div class="tag is-info">Vento</div>
      {{else}}
        <div class="tag is-warning">No Vento</div>
      {{/if}}

      {{#if this.member.astir_rating}}
        <div class="tag is-info">Astir</div>
      {{else}}
        <div class="tag is-warning">Astir</div>
      {{/if}}

      {{#if this.member.discus_rating}}
        <div class="tag is-info">Discus</div>
      {{else}}
        <div class="tag is-warning">Discus</div>
      {{/if}}

      {{#if this.member.duodiscus_rating}}
        <div class="tag is-info">Duo Discus</div>
      {{else}}
        <div class="tag is-warning">Duo Discus</div>
      {{/if}}
    </div>

    {{#if this.member.wind_lim}}
      <div class="message is-warning">
        <div class="message-header">
          Limitazione vento
        </div>
        <div class="message-body">
          Impostata da: XXX<br />
          Fino a: {{format-date this.member.wind_lim_to}}<br />
          Motivo: {{this.member.wind_lim_reason}}
        </div>
      </div>
    {{/if}}

    {{#if this.member.solo_lim}}
      <div class="message is-warning">
        <div class="message-header">
          No volo da solo
        </div>
        <div class="message-body">
          Impostata da: XXX<br />
          Fino a: {{format-date this.member.solo_lim_to}}<br />
          Motivo: {{this.member.solo_lim_reason}}
        </div>
      </div>
    {{/if}}

    {{#if this.member.solo_lim}}
      <div class="message is-warning">
        <div class="message-header">
          No volo da solo
        </div>
        <div class="message-body">
          Impostata da: XXX<br />
          Fino a: {{format-date this.member.solo_lim_to}}<br />
          Motivo: {{this.member.solo_lim_reason}}
        </div>
      </div>
    {{/if}}

    {{#if this.member.astir_lim}}
      <div class="message is-warning">
        <div class="message-header">
          No Astir
        </div>
        <div class="message-body">
          Impostata da: XXX<br />
          Fino a: {{format-date this.member.astir_lim_to}}<br />
          Motivo: {{this.member.astir_lim_reason}}
        </div>
      </div>
    {{/if}}

    {{#if this.member.discus_lim}}
      <div class="message is-warning">
        <div class="message-header">
          No Astir
        </div>
        <div class="message-body">
          Impostata da: XXX<br />
          Fino a: {{format-date this.member.discus_lim_to}}<br />
          Motivo: {{this.member.discus_lim_reason}}
        </div>
      </div>
    {{/if}}

    {{#if this.member.duodiscus_lim}}
      <div class="message is-warning">
        <div class="message-header">
          No Astir
        </div>
        <div class="message-body">
          Impostata da: XXX<br />
          Fino a: {{format-date this.member.duodiscus_lim_to}}<br />
          Motivo: {{this.member.duodiscus_lim_reason}}
        </div>
      </div>
    {{/if}}

    {{#if this.member.pax_lim}}
      <div class="message is-warning">
        <div class="message-header">
          No Astir
        </div>
        <div class="message-body">
          Impostata da: XXX<br />
          Fino a: {{format-date this.member.pax_lim_to}}<br />
          Motivo: {{this.member.pax_lim_reason}}
        </div>
      </div>
    {{/if}}
  {{/if}}

  <div class="grid">
    <div class="cell">
      {{#each this.pm_notes as |note|}}
        <div class="card">
          <div class="card-content is-warning">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <FaIcon @icon="note-sticky" @size="2x" />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">
                  {{note.cls}}
                </p>
                <p class="subtitle is-6">
                  Autore: {{note.author.person.full_name}}
                </p>
                <p class="subtitle is-6">
                  {{note.text}}
                </p>
              </div>
              {{#if this.editing}}
                <div class="media-right">
                  <a class="tag is-delete" {{on 'click' (fn this.edit_pm_note_remove note)}}></a>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  {{#if this.editing}}
    <p>
      <button class="button" {{on 'click' (fn this.edit_pm_note_add)}}>
        <span class="icon"><FaIcon @icon="circle-plus" /></span>
        <span>Aggiungi nota...</span>
      </button>
    </p>
  {{/if}}

  {{#if this.edit_pm_note_adding}}
    <div class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Aggiungi Safety Note</p>
          <button class="delete" aria-label="close" {{on "click" this.edit_pm_note_add_cancel}}></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Classe</label>
            <div class="select">
              <select {{on "change" this.edit_pm_note_add_cls_change}}>
                <option value="" selected></option>
                <option value="INFO">INFO</option>
                <option value="WARN">WARN</option>
              </select>
            </div>
          </div>
          <div class="field">
            <label class="label">Testo</label>
            <input class="input" type="text" {{on "input" this.edit_pm_note_add_text_change}} />
          </div>
        </section>

        <footer class="modal-card-foot">
          <div class="buttons">
            <button class="button"
                    {{on "click" this.edit_pm_note_add_cancel}}>Cancel</button>
            <button class="button is-success"
                    disabled={{not this.edit_pm_note_add_valid}}
                    {{on "click" this.edit_pm_note_submit}}>Aggiungi</button>
          </div>
        </footer>

      </div>
    </div>
  {{/if}}
</div>
