{{page-title "Movimenti Bar"}}
<div class="container page authen-bar-transactions">

  <div class="box">
    <a {{on "click" (fn this.set_span 30)}}>
      <span class="tag {{if (eq this.span 30) "is-success" "is-dark"}}">ultimo mese</span>
    </a>
    <a {{on "click" (fn this.set_span 90)}}>
      <span class="tag {{if (eq this.span 90) "is-success" "is-dark"}}">ultimi 3 mesi</span>
    </a>
    <a {{on "click" (fn this.set_span 365)}}>
      <span class="tag {{if (eq this.span 365) "is-success" "is-dark"}}">ultimi 12 mesi</span>
    </a>
  </div>

  <div class="level">
    <div class="level-item has-text-centered">
      <BarGauge @credit={{this.member.bar_credit}} />
    </div>
    <div class="level-item has-text-centered">
      <PayWithSatispay @create_payment={{this.pay_with_satispay_create_payment}} />
    </div>
  </div>

  <table class="bar-transactions table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Ora</th>
        <th>Descrizione</th>
        <th>Ammontare</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.sorted_models key="id" as |model|}}

      <tr>
        <td>
          {{format-date model.recorded_at format="dmy"}}
        </td>
        <td>
          {{format-time model.recorded_at format="hhmm"}}
        </td>
        <td>
          {{model.descr}}
        </td>
        <td class="price">
          {{format-number model.amount style="currency" currency="EUR"}}
        </td>
{{!--        <td>
          <LinkTo @route="authen.bar.transaction" @model={{model.id}}>
            <FaIcon @icon="arrow-up-right-from-square" />
          </LinkTo>
        </td>
--}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
