{{page-title "Radar"}}
<style>
.leaflet-container {
  height: 100%;
  width: 100%;
}
</style>

<div style="height: 100%">
<LeafletMap @lat={{lat}} @lng={{lng}} @zoom={{zoom}}>
  {{tile-layer url="https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.png" maxZoom=13}}

  {{#each aircrafts key="id" as |aircraft|}}
    <MarkerLayer @location={{aircraft.latlng}} @icon={{icon}} @rotationAngle={{aircraft.cog}}>
    </MarkerLayer>
  {{/each}}

</LeafletMap>
</div>
