<div class="ui container">
  <div class="ui raised segment">
    <h1 class="ui header">{{moment-format model.date 'YYYY-MM-DD' }}</h1>

    {{#each model.roster_entries as |entry|}}
      <i class="ui {{if entry.chief 'spy' 'user'}} icon"></i>
      {{entry.person.first_name}} {{entry.person.last_name}}<br />
      {{#if entry.notes}}
        <div class="ui message">
          {{entry.notes}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
