{{page-title "Movimenti Bollini"}}
<div class="container box page authen-token-transactions">
  <table class="token-transactions table">
    <thead>
      <tr>
        <th>Data/Ora</th>
        <th>Descrizione</th>
        <th>Ammontare</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.sorted_models key="id" as |data|}}

      <tr {{!--{{on 'click' (transition-to "authen.token.transaction" data.id)}}--}}>
        <td>
          {{format-time data.recorded_at format="timestamp"}}
        </td>
        <td>
          {{data.descr}}
        </td>
        <td class="price">
          {{format-number data.amount minimumFractionDigits=1 maximumFractionDigits=1}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

