{{page-title "Movimento Bollini"}}
<div class="container box page authen-token-transaction">
  <h1 class="title">Movimento Bollini</h1>
  ID: <strong>{{this.token_transaction.id}}</strong><br />

  Registrato il: <strong>{{format-time this.token_transaction.recorded_at format="timestamp"}}</strong><br />

  Operatore: <strong>{{this.token_transaction.old_operator}}</strong><br />

  {{#if this.token_transaction.aircraft}}
    Aeromobile:
      <strong>
        {{#if this.is_aircraft_mine}}
          <LinkTo @route="authen.aircraft.show" @model={{this.token_transaction.aircraft.id}}>
            {{this.token_transaction.aircraft.registration}}
          </LinkTo>
        {{else}}
          {{this.token_transaction.aircraft.registration}}
        {{/if}}
      </strong>
      <br />
  {{/if}}

  {{#if this.token_transaction.flight}}
    Volo:
      <strong>
        <LinkTo @route="authen.flight.show" @model={{this.token_transaction.flight.id}}>
          {{this.token_transaction.flight.source_id}}
        </LinkTo>
      </strong>
      <br />
  {{/if}}

  {{#if this.token_transaction.invoice}}
    Fattura:
      <strong>
        <LinkTo @route="authen.invoice.show" @model={{this.token_transaction.invoice.id}}>
          {{this.token_transaction.invoice.identifier_full}}
        </LinkTo>
      </strong>
      <br />
  {{/if}}

  Descrizione: <strong>{{this.token_transaction.descr}}</strong><br />

  Ammontare: <strong>{{format-number this.token_transaction.amount minimumFractionDigits=1 maximumFractionDigits=1}}</strong><br />

  Credito:
    <strong>
      {{format-number this.token_transaction.prev_credit minimumFractionDigits=1 maximumFractionDigits=1}}
      →
      {{format-number this.token_transaction.credit minimumFractionDigits=1 maximumFractionDigits=1}}
    </strong>
    <br />
</div>
