{{page-title "Movimenti Bollini"}}
<div class="container page authen-token-transactions">

  <div class="box">
    <a {{on "click" (fn this.set_span 30)}}>
      <span class="tag {{if (eq this.span 30) "is-success" "is-dark"}}">ultimo mese</span>
    </a>
    <a {{on "click" (fn this.set_span 90)}}>
      <span class="tag {{if (eq this.span 90) "is-success" "is-dark"}}">ultimi 3 mesi</span>
    </a>
    <a {{on "click" (fn this.set_span 365)}}>
      <span class="tag {{if (eq this.span 365) "is-success" "is-dark"}}">ultimi 12 mesi</span>
    </a>
  </div>

  <table class="token-transactions table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Ora</th>
        <th>Descrizione</th>
        <th>Fattura</th>
        <th>Aeromobile</th>
        <th>Volo</th>
        <th>Ammontare</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.sorted_token_transactions key="id" as |tt|}}

      <tr>
        <td>
          {{format-date tt.recorded_at format="dmy"}}
        </td>
        <td>
          {{format-time tt.recorded_at format="hhmm"}}
        </td>
        <td>
          {{tt.descr}}
        </td>
        <td>
          {{#if tt.invoice}}
            <LinkTo @route="authen.invoice" @model={{tt.invoice.id}}>
              {{tt.invoice.identifier_full}}
            </LinkTo>
          {{/if}}
        </td>
        <td>
          {{#if tt.aircraft}}
            <LinkTo @route="authen.aircraft" @model={{tt.aircraft.id}}>
              {{tt.aircraft.registration}}
            </LinkTo>
          {{/if}}
        </td>
        <td>
          {{#if tt.flight}}
            <LinkTo @route="authen.flight" @model={{tt.flight.id}}>
              {{tt.flight.source_id}}
            </LinkTo>
          {{/if}}
        </td>
        <td class="price">
          {{format-number tt.amount minimumFractionDigits=1 maximumFractionDigits=1}}
        </td>
        <td>
          <LinkTo @route="authen.token.transaction" @model={{tt.id}}>
            <FaIcon @icon="arrow-up-right-from-square" />
          </LinkTo>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

