{{page-title "Movimenti Bollini"}}
<div class="container page authen-token-transactions">

  <div class="box">
    <a {{on "click" (fn this.set_span 30)}}>
      <span class="tag {{if (eq this.span 30) "is-success" "is-dark"}}">ultimo mese</span>
    </a>
    <a {{on "click" (fn this.set_span 90)}}>
      <span class="tag {{if (eq this.span 90) "is-success" "is-dark"}}">ultimi 3 mesi</span>
    </a>
    <a {{on "click" (fn this.set_span 365)}}>
      <span class="tag {{if (eq this.span 365) "is-success" "is-dark"}}">ultimi 12 mesi</span>
    </a>
  </div>

  <table class="token-transactions table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Ora</th>
        <th>Descrizione</th>
        <th>Fattura</th>
        <th>Aeromobile</th>
        <th>Volo</th>
        <th>Ammontare</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.sorted_models key="id" as |model|}}

      <tr>
        <td>
          {{format-date model.recorded_at format="dmy"}}
        </td>
        <td>
          {{format-time model.recorded_at format="hhmm"}}
        </td>
        <td>
          {{model.descr}}
        </td>
        <td>
          {{#if model.invoice}}
            <LinkTo @route="authen.invoice" @model={{model.invoice.id}}>
              {{model.invoice.identifier_full}}
            </LinkTo>
          {{/if}}
        </td>
        <td>
          {{#if model.aircraft}}
            <LinkTo @route="authen.aircraft" @model={{model.aircraft.id}}>
              {{model.aircraft.registration}}
            </LinkTo>
          {{/if}}
        </td>
        <td>
          {{#if model.flight}}
            <LinkTo @route="authen.flight" @model={{model.flight.id}}>
              {{model.flight.source_id}}
            </LinkTo>
          {{/if}}
        </td>
        <td class="price">
          {{format-number model.amount minimumFractionDigits=1 maximumFractionDigits=1}}
        </td>
        <td>
          <LinkTo @route="authen.token.transaction" @model={{model.id}}>
            <FaIcon @icon="arrow-up-right-from-square" />
          </LinkTo>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

