{{page-title (t "authen.membership.renew.aircraft-owned.page_title")}}

<div class="container">
  <div class="box">

    <div class="buttons is-centered">
      Possiedi ancora il
      <strong>{{this.aircraft.registration}}</strong>?
      {{#if this.ownership_confirmed}}
        Sì
      {{else}}
        <button class="button is-warning is-large" type="button" {{on "click" this.ownership_click_no}}>
          No
        </button>
        <button class="button is-primary is-large" type="button" {{on "click" this.ownership_click_yes}}>
          Sì
        </button>
      {{/if}}
    </div>

    {{#if this.ownership_confirmed}}
      <div class="buttons is-centered">
        Vuoi essere tu il proprietario di riferimento?

        {{#if this.referent_confirmed}}
          Sì
        {{else}}
          <button class="button is-warning is-large" type="button" {{on "click" this.referent_click_no}}>
            No
          </button>
          <button class="button is-primary is-large" type="button" {{on "click" this.referent_click_yes}}>
            Sì
          </button>
        {{/if}}
      </div>
    {{/if}}

    {{#if this.referent_confirmed}}
      <div class="buttons is-centered">
        Dove è ricoverato l'aliante?

        {{#if this.parking_confirmed}}
          {{this.parking}}
        {{else}}
          <button class="button is-warning is-large" type="button" {{on "click" this.parking_click_a}}>
            Carrello Area A
          </button>
          <button class="button is-warning is-large" type="button" {{on "click" this.parking_click_bc}}>
            Carrello Area B/C
          </button>
          <button class="button is-primary is-large" type="button" {{on "click" this.parking_click_hangar}}>
            Hangar
          </button>
          <button class="button is-primary is-large" type="button" {{on "click" this.parking_click_other}}>
            Altrove
          </button>
        {{/if}}
      </div>
    {{/if}}

    {{#if this.parking_confirmed}}
      <div class="buttons is-centered">
        <button class="button is-grey is-large" type="button" {{on "click" this.back}}>
          <span class="icon"><FaIcon @icon="backward" /></span>
          <span>Indietro</span>
        </button>
        <button class="button is-warning is-large" type="button" {{on "click" this.submit}}>
          Avanti
        </button>
      </div>
    {{else}}
      <div class="buttons is-centered">
        <button class="button is-grey is-large" type="button" {{on "click" this.back}}>
          <span class="icon"><FaIcon @icon="backward" /></span>
          <span>Indietro</span>
        </button>
      </div>
    {{/if}}

  </div>
</div>
