{{page-title (t "authen.membership.renew.data.page_title")}}

<div class="container">
  <table class="renew-services table is-fullwidth">
    <thead>
      <tr>
        <th class="is-narrow"></th>
        <th>{{t "authen.membership.renew.data.element"}}</th>
        <th>{{t "authen.membership.renew.data.cost"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>{{this.ass_service.name}}</td>
        <td class="price">{{if this.ass_service.price (format-number this.ass_service.price style="currency" currency="EUR")}}</td>
      </tr>
      {{#if this.wizard.cav_type}}
      <tr>
        <td class="collapsing">
          <input type="checkbox" id="enable_cav_cb" class="checkbox" checked={{this.enable_cav}} {{on "change" this.enable_cav_set}} />
        </td>
        <td>
          <label for="enable_cav_cb" class="label">
            {{this.cav_service.name}}
          </label>
        </td>
        <td class="price {{if (not this.enable_cav) "disabled"}}">
          {{if this.cav_service.price (format-number this.cav_service.price style="currency" currency="EUR")}}
        </td>
      </tr>
      {{/if}}

      {{#each this.services key="@index" as |service index|}}
      <tr>
        <td>
          <button class="button" {{on "click" (fn this.service_del index)}}>
            <span class="icon is-small"><FaIcon @icon="trash" /></span>
          </button>
        </td>
        <td style="overflow:visible;">
          <PowerSelect @options={{this.service_types_opts}}
                       @selected={{service.type}}
                       @onChange={{fn this.service_set service}}
                       @placeholder={{t "authen.membership.renew.data.service_select_placeholder"}} as |el|>
            {{el.name}}
          </PowerSelect>

          {{#if service.type.extra_info}}
            <div class="control">
              <label>
                {{service.type.extra_info}}
                <input type="text" class="input" value={{service.extra_info}} {{on "change" (fn this.service_set_extra_info service)}} />
              </label>
            </div>
          {{/if}}
          {{#if service.type.notes}}
            <div class="notification is-warning is-light">
              {{service.type.notes}}
            </div>
          {{/if}}
        </td>
        <td class="price">{{#if service.type}}{{format-number service.type.price style="currency" currency="EUR"}}{{/if}}</td>
      </tr>
      {{/each}}

      <tr>
        <td colspan="3">
          <button class="button is-info" {{on "click" this.service_add}}>
            <span class="icon">
              <FaIcon @icon="plus" />
            </span>
            <strong>{{t "authen.membership.renew.data.trailer_etc"}}</strong>
          </button>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <th colspan="2">{{t "authen.membership.renew.data.total"}}</th>
        <td class="total price">{{format-number this.total style="currency" currency="EUR"}}</td>
      </tr>
    </tfoot>
  </table>

  <div class="box">
    <label>
      <input class="checkbox" type="checkbox" checked={{this.enable_email}} {{on 'change' this.enable_email_set}} />
      {{t "authen.membership.renew.data.email_auth"}}
    </label>
  </div>

  <div class="box">
    <label>
      <input class="checkbox" type="checkbox" checked={{this.accept_rules}} {{on 'change' this.accept_rules_set}} />
      {{t "authen.membership.renew.data.rules" htmlSafe=true}}
    </label>
  </div>

  <div class="box">
    <p>
      {{t "authen.membership.renew.data.payment_method"}}
    </p>
    <div class="buttons">
      <button class="button {{if (eq this.payment_method "WIRE") "is-info"}}"
              {{on 'click' (fn this.payment_method_set "WIRE")}}>
        <span class="icon"><FaIcon @icon="university" /></span>
        <span>{{t "authen.membership.renew.data.wire"}}</span>
      </button>

      <button class="button {{if (eq this.payment_method "CHECK") "is-info"}}"
               {{on 'click' (fn this.payment_method_set "CHECK")}}>
        <span class="icon"><FaIcon @icon="tag" /></span>
        <span>{{t "authen.membership.renew.data.check"}}</span>
      </button>

      <button class="button {{if (eq this.payment_method "CARD") "is-info"}}"
              {{on 'click' (fn this.payment_method_set "CARD")}}>
        <span class="icon"><FaIcon @icon="credit-card" /></span>
        <span>{{t "authen.membership.renew.data.credit_card"}}</span>
      </button>
    </div>
  </div>

  {{#if this.submit_disabled}}
    <div class="notification is-danger">
      {{t "authen.membership.renew.data.accept_rules"}}
    </div>
  {{else}}
    <div class="buttons is-centered">
      <button class="button is-grey is-large" {{on "click" this.back}}>
        <span class="icon"><FaIcon @icon="backward" /></span>
        <span>{{t "authen.membership.renew.data.back"}}</span>
      </button>
      <button class="button is-primary is-large" disabled={{this.submit_disabled}} {{on "click" this.submit}}>
        {{t "authen.membership.renew.data.forward"}}
      </button>
    </div>
  {{/if}}
</div>
