{{page-title "Inizio"}}

{{#if this.renew_is_open_and_needed}}
<div class="container">
  <div class="box">
    <h1 class="title">Ciao {{this.session.person.first_name}},</h1>

    {{#if this.wizard.membership}}
      <h1 class="ui header">
        Risulti già iscritto per l'anno {{this.wizard.year}}<i class="huge thumbs outline up icon"></i>
      </h1>

      {{#if this.payment_is_pending}}
        <LinkTo @target="authen.payment" @model={{this.wizard.membership.payment_id}} class="button is-huge">
          Il pagamento è pendente
        </LinkTo>
      {{/if}}

    {{else if this.wizard.blocked}}
      <div class="notification is-error">
        L'iscrizione per l'anno {{this.wizard.year}} è bloccata. Gentilmente rivolgiti in segreteria.
      </div>
    {{else}}
      <p>
        Con questa procedura potrai rinnovare la tua iscrizione per l'anno {{this.wizard.year}}.
      </p>

      <p>
        Assicurati che i tuoi dati siano corretti:
      </p>
      <p>
        Nome: <strong>{{this.session.person.first_name}} {{this.session.person.last_name}}</strong><br />
        Data di nascita: <strong>{{format-date this.session.person.birth_date "DD-MM-YYYY"}}</strong><br />
        Email: <strong>{{#each this.my_emails as |item index|}}{{if index ", "}}{{item.value}}{{/each}}</strong><br />
        Telefono fisso: <strong>{{#each this.my_fixed_phones as |item index|}}{{if index ", "}}{{item.value}}{{/each}}</strong><br />
        Cellulare: <strong>{{#each this.my_mobiles as |item index|}}{{if index ", "}}{{item.value}}{{/each}}</strong><br />
      </p>

      <div class="buttons is-centered">
        <button class="button is-primary is-large" disabled={{this.form_invalid}} {{on "click" this.submit}}>
          Procedi...
        </button>
      </div>
    {{/if}}
  </div>
</div>

{{else if this.renew_is_going_to_open}}
  <div class="notification is-warning">
    L'iscrizione per l'anno {{this.year}} non è ancora aperta,
    aprirà tra {{format-date-from-now this.year_model.renew_opening_time}}
  </div>
{{else if this.renew_is_open}}
  <div class="notification is-success">
    L'iscrizione per l'anno {{this.year}} non è necessaria.
  </div>
{{else}}
  <div class="notification is-errors">
    L'iscrizione per l'anno {{this.year}} non è aperta.
  </div>
{{/if}}
