{{page-title (t "authen.membership.renew.privacy.page_title")}}

<div class="container has-text-centered box">
  <p class="m-3">
    {{t "authen.membership.renew.privacy.declaration"}}
  </p>

  <p class="m-6">
    <a class="button is-link is-large" href="/privacy.pdf">
      <span class="icon"><FaIcon @icon="download" /></span>
      <span>{{t "authen.membership.renew.privacy.link"}}</span>
    </a>
  </p>

  <table class="table">
    <tbody>
      <tr>
        <td>
          <label class="radio">
            <input type="radio" name="consent_association" value="yes"
                   checked={{this.is_true this.consent_association}}
                   {{on "change" this.consent_association_on_change}} /> Acconsento
          </label>
        </td>
        <td>
          <label class="radio">
            <input type="radio" name="consent_association" value="no"
                   checked={{this.is_false this.consent_association}}
                   {{on "change" this.consent_association_on_change}} /> NON Acconsento
          </label>
        </td>
        <td>
          al trattamento dei propri dati personali per le finalità Istituzionali dell’Associazione
          (cfr.  informativa - 4.a)
        </td>
      </tr>

      <tr>
        <td>
          <label class="radio">
            <input type="radio" name="consent_surveillance" value="yes"
                   checked={{this.is_true this.consent_surveillance}}
                   {{on "change" this.consent_surveillance_on_change}} /> Acconsento
          </label>
        </td>
        <td>
          <label class="radio">
            <input type="radio" name="consent_surveillance" value="no"
                   checked={{this.is_false this.consent_surveillance}}
                   {{on "change" this.consent_surveillance_on_change}} /> NON Acconsento
          </label>
        </td>
        <td>
          al trattamento dei propri dati personali per i servizi di Vidosorveglianza gestiti dall’Associazione
          (cfr. informativa - 4.b)
        </td>
      </tr>

      <tr>
        <td>
          <label class="radio">
            <input type="radio" name="consent_accessory" value="yes"
                   checked={{this.is_true this.consent_accessory}}
                   {{on "change" this.consent_accessory_on_change}} /> Acconsento
          </label>
        </td>
        <td>
          <label class="radio">
            <input type="radio" name="consent_accessory" value="no"
                   checked={{this.is_false this.consent_accessory}}
                   {{on "change" this.consent_accessory_on_change}} /> NON Acconsento
          </label>
        </td>
        <td>
          al trattamento dei propri dati personali per la fornitura di servizi accessori forniti nell’ambito delle attività
          gestite dall’Associazione (cfr. informativa - 4.c), inclusi quelli contenuti nelle attestazioni di accertamento
          dell’idoneità sanitaria per il rinnovo della licenza di volo.
        </td>
      </tr>

      <tr>
        <td>
          <label class="radio">
            <input type="radio" name="consent_profiling" value="yes"
                   checked={{this.is_true this.consent_profiling}}
                   {{on "change" this.consent_profiling_on_change}} /> Acconsento
          </label>
        </td>
        <td>
          <label class="radio">
            <input type="radio" name="consent_profiling" value="no"
                   checked={{this.is_false this.consent_profiling}}
                   {{on "change" this.consent_profiling_on_change}} /> NON Acconsento
          </label>
        </td>
        <td>
          al trattamento dei propri dati personali per i servizi di profilazione (cfr. informativa - 4.d). (facoltativo)
        </td>
      </tr>

      <tr>
        <td>
          <label class="radio">
            <input type="radio" name="consent_magazine" value="yes"
                   checked={{this.is_true this.consent_magazine}}
                   {{on "change" this.consent_magazine_on_change}} /> Acconsento
          </label>
        </td>
        <td>
          <label class="radio">
            <input type="radio" name="consent_magazine" value="no"
                   checked={{this.is_false this.consent_magazine}}
                   {{on "change" this.consent_magazine_on_change}} /> NON Acconsento
          </label>
        </td>
        <td>
          Alla comunicazione dei propri dati personali per i servizi di distribuzione della rivista “VOLO A VELA”. (facoltativo)
        </td>
      </tr>

      <tr>
        <td>
          <label class="radio">
            <input type="radio" name="consent_fai" value="yes"
                   checked={{this.is_true this.consent_fai}}
                   {{on "change" this.consent_fai_on_change}} /> Acconsento
          </label>
        </td>
        <td>
          <label class="radio">
            <input type="radio" name="consent_fai" value="no"
                   checked={{this.is_false this.consent_fai}}
                   {{on "change" this.consent_fai_on_change}} /> NON Acconsento
          </label>
        </td>
        <td>
          Alla comunicazione dei propri dati personali alla Federazione Aeronautica Internazionale (FAI). (facoltativo)
        </td>
      </tr>

      <tr>
        <td>
          <label class="radio">
            <input type="radio" name="consent_marketing" value="yes"
                   checked={{this.is_true this.consent_marketing}}
                   {{on "change" this.consent_marketing_on_change}} /> Acconsento
          </label>
        </td>
        <td>
          <label class="radio">
            <input type="radio" name="consent_marketing" value="no"
                   checked={{this.is_false this.consent_marketing}}
                   {{on "change" this.consent_marketing_on_change}} /> NON Acconsento
          </label>
        </td>
        <td>
          Alla raccolta ed al trattamento dei propri dati personali per finalità di informativa e promozione sulle
          future iniziative di ACAO, inclusa l’eventuale comunicazione dei dati personali per attività ed eventi
          organizzati da ACAO in partnership con altre istituzioni, organizzazioni ed enti. (facoltativo)
        </td>
      </tr>
    </tbody>
  </table>

  <div class="buttons is-centered">
    <button class="button is-grey is-large" {{on "click" this.back}}>
      <span class="icon"><FaIcon @icon="backward" /></span>
      <span>{{t "authen.membership.renew.privacy.back"}}</span>
    </button>
    <button class="button is-primary is-large" disabled={{this.accept_disabled}} {{on "click" this.accept}}>
      <span class="icon"><FaIcon @icon="thumbs-up" /></span>
      <span>{{t "authen.membership.renew.privacy.accept"}}</span>
    </button>
  </div>
</div>
