{{page-title "Selezione turni di linea"}}

<RosterSelector
  @initial_selection={{this.wizard.selected_roster_days}}
  @days={{this.model.roster_days}}
  @entries={{this.model.roster_entries}}
  @needed_total={{this.model.roster_status.total}}
  @needed_high_season={{this.model.roster_status.high_season}}
  @show_slots={{true}}
  @person={{this.session.person}}
  @selection_changed={{this.selection_changed}}
  @selection_validity_changed={{this.selection_validity_changed}}
/>

<div class="buttons is-centered">
  <button class="button is-grey is-large" {{on "click" this.back}}>
    <span class="icon"><FaIcon @icon="backward" /></span>
    <span>Indietro</span>
  </button>
  <button class="button is-primary is-large" disabled={{not this.submit_enabled}} {{on "click" this.submit}}>
    Avanti...
  </button>
</div>
