{{page-title "Riassunto"}}
<div class="container box">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <table class="renew-services table">
          <thead>
            <tr>
              <th>Elemento</th>
              <th>Costo</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.wizard.services key="@index" as |service index|}}
            <tr>
              <td>
                {{service.type.name}}
                {{#if service.extra_info}}
                  <br />
                  {{service.type.extra_info}}: {{service.extra_info}}
                {{/if}}
              </td>
              <td class="price {{if service.enabled "" "disabled"}}">{{format-number service.type.price style="currency" currency="EUR"}}</td>
            </tr>
            {{/each}}
          </tbody>
          <tfoot>
            <tr>
              <th>Totale</th>
              <td class="total price">{{format-number this.total style="currency" currency="EUR"}}</td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="level-item">
        <div>
          <h2 class="subtitle">Turni di linea:</h2>
          <p>
            {{#if this.wizard.roster_status.total}}
              Necessari {{this.wizard.roster_status.total}} turni di linea
              {{#if this.wizard.roster_status.high_season}}
                di cui {{this.wizard.roster_status.high_season}} in alta stagione.
              {{/if}}
            {{else}}
              Non è necessario alcun turno di linea
            {{/if}}
            {{#if this.wizard.roster_status.reason}}
              perché {{t (concat "authen.roster.reasons." this.wizard.roster_status.reason)}}
            {{/if}}
          </p>
          {{#each this.wizard.selected_roster_days as |roster_day|}}
            {{format-date roster_day.date "dm_long"}}<br />
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  <div class="buttons is-centered">
    <button class="button is-grey is-large" type="button" {{on "click" this.back}}>
      <span class="icon"><FaIcon @icon="backward" /></span>
      <span>Indietro</span>
    </button>
    <button class="button is-primary is-large {{if this.submitting "is-loading"}}"
            disabled={{not this.can_submit}} type="button" {{on "click" this.submit}}>
      Conferma iscrizione!
    </button>
  </div>

  {{#if this.submit_error}}
    <ExceptionDecoder @ex={{this.submit_error}} as |title detail backtrace|>
      <div class="box notification is-danger">
        <h1 class="title">{{title}}</h1>
        <div>
          {{detail}}
        </div>
      </div>
    </ExceptionDecoder>
  {{/if}}
</div>
