{{page-title "Riassunto"}}
<table class="renew-services ui celled table">
  <thead>
    <tr>
      <th>Elemento</th>
      <th>Costo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{this.ass_service.name}}</td>
      <td class="price">{{format-number this.ass_service.price 2 "€"}}</td>
    </tr>
    {{#if this.enable_cav}}
    <tr>
      <td>{{this.cav_service.name}}</td>
      <td class="price">{{format-number this.cav_service.price 2 "€"}}</td>
    </tr>
    {{/if}}

    {{#each this.services key="@index" as |service index|}}
    <tr>
      <td>
        {{service.type.name}}{{#if service.extra_info}} - {{service.extra_info}}{{/if}}
      </td>
      <td class="price">{{format-number service.type.price 2 "€"}}</td>
    </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th>Totale</th>
      <td class="total price">{{format-number this.total 2 "€"}}</td>
    </tr>
  </tfoot>
</table>

<button class="huge ui fluid primary button {{if this.submitting "loading disabled"}}" {{action "commit"}}>Conferma iscrizione!</button>
{{#if this.submitError}}
<div class="ui red message">
  {{submitError}}
</div>
{{/if}}
