{{page-title (concat "Tipo " this.model.name)}}
<div class="container box page authen-aicraft-type">
    <h1>Aeromobile {{this.model.manufacturer}} {{this.model.name}}</h1>
    <a href={{this.model.link_wp}}>Pagina Web</a><br />
    Classe: {{this.model.aircraft_class}}<br />
    Posti: {{this.model.seats}}<br />
    Motore:
      {{if (eq this.model.motor 0) "NO"}}
      {{if (eq this.model.motor 1) "Self Sustaining"}}
      {{if (eq this.model.motor 2) "Self Launching"}}
      <br />
    Handicap: {{format-number this.model.handicap minimumFractionDigits=2 maximumFractionDigits=2}}<br />
</div>
