{{page-title "Aeroporto"}}
<div class="container page authen-airfield">
  <div class="box">
    <h1>Aeroporto {{this.model.icao_code}}</h1>
    Nome: {{this.model.name}}<br />
    Luogo: {{this.model.location.full_address}},
      {{#if this.model.location.latlng}} ({{this.model.location.lat}},{{this.model.location.lng}}){{/if}}<br />
  </div>
{{!--
  <div class="box" style="height: 600px">
    {{#if this.model.location.latlng}}
      {{#leaflet-map center=this.model.location.latlng zoom=11 class="flight-map" as |layers|}}
        {{layers.tile url="https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.png" maxZoom=13}}
        {{#layers.marker location=this.model.location.latlng}}
          {{#popup-layer}}
            <b>{{this.model.icao_code}}</b><br />
            {{this.model.location.full_address}}
            {{this.model.location.lat}},{{this.model.location.lng}}
          {{/popup-layer}}
        {{/layers.marker}}
      {{/leaflet-map}}
    {{/if}}
  </div>
--}}
</div>
