{{page-title "Visite Mediche"}}

<div class="container page authen-medical-index">
  <div class="grid is-col-min-20">
    {{#each this.sorted_medicals key="id" as |medical|}}
      <div class="card cell">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
               <FaIcon @icon="staff-snake" @size="3x" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">
                <LinkTo @route="authen.medical.show" @model={{medical.id}}>
                  {{medical.type}} {{medical.identifier}}
                </LinkTo>
              </p>
              <p class="subtitle is-6"></p>
            </div>
          </div>
          <div class="content">
            Rilasciata Il: <strong>{{format-date medical.issued_at}}</strong><br />
            Valida Al: <strong>{{format-date medical.valid_to}}</strong><br />
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

