{{page-title "Miei Aeromobili"}}

<div class="container page authen-aircrafts">
  <table class="table aircrafts">
    <thead>
      <tr>
        <th>Marche</th>
        <th>Sigle di gara</th>
        <th>Tipo</th>
        <th>ID FLARM</th>
        <th>ID ICAO</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.sorted_models key="id" as |data|}}

      <tr {{on 'click' (fn this.goto_aircraft data.id)}}>
        <td>
          {{data.registration}}
        </td>
        <td>
          {{data.race_registration}}
        </td>
        <td>
          {{data.aitcraft_type.name}}
        </td>
        <td>
          {{data.flarm_identifier}}
        </td>
        <td>
          {{data.icao_identifier}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
