{{page-title "Transazioni Bar"}}
<div class="container">
  <table class="bar-transactions table">
    <thead>
      <tr>
        <th>Data/Ora</th>
        <th>Descrizione</th>
        <th>Ammontare</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.sorted_models key="id" as |data|}}

      <tr {{on 'click' (transition-to "authen.bar-transaction" data.id)}}>
        <td>
          {{format-date data.recorded_at "DD-MM-YYYY HH:mm:ss" }}
        </td>
        <td>
          {{data.descr}}
        </td>
        <td class="price">
          {{format-number data.amount 2 "€"}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
