{{page-title "Movimento Bar"}}
<div class="container box page authen-bar-transaction">
  <h1 class="title">Movimento bar</h1>
  ID: {{this.model.id}}<br />
  Registrato il: {{format-date this.model.recorded_at "DD-MM-YYYY HH:mm:ss"}}<br />
  Numero: {{this.model.cnt}}<br />
  Descrizione: {{this.model.descr}}<br />
  Ammontare: {{format-number this.model.amount 2 this.model.unit}}<br />
  Credito: {{format-number this.model.prev_credit 2 this.model.unit}} → {{format-number this.model.credit 2 this.model.unit}}
</div>
