{{page-title "Movimento Bar"}}
<div class="container box page authen-bar-transaction">
  <h1 class="title">Movimento bar</h1>
  ID: {{this.model.id}}<br />
  Registrato il: {{format-time this.model.recorded_at format="timestamp"}}<br />
  Numero: {{this.model.cnt}}<br />
  Descrizione: {{this.model.descr}}<br />
  Ammontare: {{format-number this.model.amount style="currency" currency=this.model.unit}}<br />
  Credito: {{format-number this.model.prev_credit style="currency" currency=this.model.unit}} →
           {{format-number this.model.credit style="currency" currency=this.model.unit}}
</div>
