{{page-title "Movimenti Bar"}}
<div class="container box page authen-bar-transactions">
  <table class="bar-transactions table">
    <thead>
      <tr>
        <th>Data/Ora</th>
        <th>Descrizione</th>
        <th>Ammontare</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.sorted_models key="id" as |data|}}

      <tr {{on 'click' (transition-to "authen.bar-transaction" data.id)}}>
        <td>
          {{format-time data.recorded_at format="timestamp"}}
        </td>
        <td>
          {{data.descr}}
        </td>
        <td class="price">
          {{format-number data.amount style="currency" currency="EUR"}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
