{{page-title "Volo"}}
<div class="ui container">
  <div class="ui segment">
    <h1>Volo {{model.id}}</h1>
<!--
    Aeromobile: {{link-to model.aircraft_reg "authen.aircraft" model.aircraft_id}}
               {{#if (not-eq data.aircraft_reg data.aircraft.registration)}} ora {{data.aircraft.registration}}{{/if}}<br />
    Pilota: {{link-to model.pilot1.full_name "authen.person" model.pilot1.id}}<br />
    Passeggero:
      {{#if (eq model.pilot2_role "PAX")}}
        Passeggero
      {{else}}
        {{#if model.pilot2}}
          {{link-to model.pilot2.full_name "authen.person" model.pilot2.id}}
        {{else}}
          N/A
        {{/if}}
      {{/if}}
    <br />
    Decollo: {{format-date model.takeoff_time "DD-MM-YYYY HH:mm:ss Z"}}<br />
    Aeroporto Decollo: {{link-to model.takeoff_airfield.icao_code "authen.airfield" model.takeoff_airfield.id}} ({{model.takeoff_airfield.name}})<br />
    Luogo Decollo: {{model.takeoff_location.full_address}},
      {{#if model.takeoff_location.latlng}} ({{model.takeoff_location.lat}},{{model.takeoff_location.lng}}){{/if}}<br/>
    Atterraggio: {{format-date model.landing_time "DD-MM-YYYY HH:mm:ss Z"}}<br />
    Aeroporto Decollo: {{link-to model.landing_airfield.icao_code "authen.airfield" model.landing_airfield.id}} ({{model.landing_airfield.name}})<br />
    Luogo Decollo: {{model.landing_location.full_address}},
      {{#if model.landing_location.latlng}} ({{model.landing_location.lat}},{{model.landing_location.lng}}){{/if}}<br />
    Durata: {{format-date (utc model.duration) "HH:mm:ss"}}<br />

    {{#if model.towed_by}}
      Trainato da: {{link-to model.towed_by.aircraft_reg "authen.flight" model.towed_by.id}}<br />
    {{/if}}
    {{#if model.towing}}
      Trainando {{link-to model.towing.aircraft_reg "authen.flight" model.towing.id}}<br />
    {{/if}}
-->
  </div>

  <div class="ui segment" style="height: 600px">
    {{#if model.takeoff_location.latlng}}
      {{#leaflet-map center=model.takeoff_location.latlng zoom=11 class="flight-map" as |layers|}}
        {{layers.tile url="https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.png" maxZoom=13}}
        {{#layers.marker location=model.takeoff_location.latlng title="Decollo"}}
          {{#popup-layer}}
            <b>Decollo</b><br />
            {{model.takeoff_location.full_address}}
            {{model.takeoff_location.lat}},{{model.takeoff_location.lng}}
          {{/popup-layer}}
        {{/layers.marker}}
        {{#layers.marker location=model.landing_location.latlng title="Atterraggio"}}
          {{#popup-layer}}
            <b>Atterraggio</b><br />
            {{model.takeoff_location.full_address}}
            {{model.takeoff_location.lat}},{{model.takeoff_location.lng}}
          {{/popup-layer}}
        {{/layers.marker}}
      {{/leaflet-map}}
    {{/if}}
  </div>
</div>
