{{page-title "Volo"}}
<div class="container page authen-flight">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <FaIcon @icon="plane-departure" @size="3x" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">
            <h1>Volo <strong>{{this.flight.source_id}}</strong></h1>
          </p>
          <p class="subtitle is-6">
            Decollo:
            {{format-time this.flight.takeoff_time format="timestamp_nosecs"}}
            {{#if this.flight.takeoff_airfield}}
              {{this.flight.takeoff_airfield.icao_code}} - {{this.flight.takeoff_airfield.name}}

              {{!--
              <LinkTo @route="authen.airfield" @model={{this.flight.takeoff_airfield}}>
                {{this.flight.takeoff_airfield.name}}
              </LinkTo>
              --}}
            {{else}}
              {{this.flight.takeoff_location_raw}}
            {{/if}}

            <br />
            Atterraggio:
            {{format-time this.flight.landing_time format="timestamp_nosecs"}}
            {{#if this.flight.landing_airfield}}
              {{this.flight.landing_airfield.icao_code}} - {{this.flight.landing_airfield.name}}

              {{!--
              <LinkTo @route="authen.airfield" @model={{this.flight.landing_airfield}}>
                {{this.flight.landing_airfield.name}}
              </LinkTo>
              --}}
            {{else}}
              {{this.flight.landing_location_raw}}
            {{/if}}
          </p>
        </div>
      </div>

      <div class="content">
        <div class="grid">
          <div class="cell">
            Aeromobile:
              <strong>
                {{#if this.is_aircraft_mine}}
                  <LinkTo @route="authen.aircraft" @flight={{this.flight.aircraft.id}}>
                    {{this.flight.aircraft_reg}}
                  </LinkTo>
                {{else}}
                  {{this.flight.aircraft_reg}}
                {{/if}}
              </strong>
              <br />

            Pilota: <strong>{{this.flight.pilot1_name}}
              {{#if this.flight.pilot1_role}}({{this.flight.pilot1_role}}){{/if}}
              </strong><br />

            {{#if this.flight.pilot2_role}}
              Passeggero:
                <strong>{{this.flight.pilot2_name}}
                {{#if this.flight.pilot2_role}}({{this.flight.pilot2_role}}){{/if}}
                </strong><br />
            {{/if}}

            Durata: <strong>{{format-duration this.flight.duration}}</strong><br />

            {{#if this.flight.towed_by}}
              Trainato da:
              <LinkTo @route="authen.flight" @model={{this.flight.towed_by}}>
                {{this.flight.towed_by.aircraft_reg}}
              </LinkTo>
              <br />
            {{/if}}
            {{#if this.flight.towing}}
              Trainando:
              <LinkTo @route="authen.flight" @model={{this.flight.towing}}>
                {{this.flight.towing.aircraft_reg}}
              </LinkTo>
              <br />
            {{/if}}

            {{#if this.flight.launch_type}}
              Lancio: <strong>{{this.flight.launch_type}}</strong><br />
            {{/if}}

            Volo Istruzione: <strong>{{if this.flight.instruction_flight "sì" "no"}}</strong><br />
            Skill Test: <strong>{{if this.flight.skill_test "sì" "no"}}</strong><br />
            Proficiency check: <strong>{{if this.flight.proficiency_check "sì" "no"}}</strong><br />
            Maintenance check: <strong>{{if this.flight.maintenance_check "sì" "no"}}</strong><br />

            {{#if this.flight.purpose}}
              Scopo: <strong>{{this.flight.purpose}}</strong><br />
            {{/if}}

            {{#if this.flight.acao_quota}}
              Quota: <strong>{{this.flight.acao_quota}}</strong><br />
            {{/if}}

            Bollini: <strong>{{this.flight.acao_bollini_volo}}</strong><br />
            Tipo Volo: <strong>{{this.flight.acao_tipo_volo_club}}</strong><br />
          </div>

          {{#if this.flight.token_transactions}}
            <div class="cell">
              Movimenti bollini:
              <table class="table">
                <thead>
                  <tr>
                    <th>Data/Ora</th>
                    <th>Descrizione</th>
                    <th>Ammontare</th>
                  </tr>
                </thead>

                <tbody>
                  {{#each this.sorted_token_transactions key="id" as |item|}}

                  <tr>
                    <td>
                      {{format-time item.recorded_at format="timestamp"}}
                    </td>
                    <td>
                      {{item.descr}}
                    </td>
                    <td class="price">
                      {{format-number item.amount minimumFractionDigits=1 maximumFractionDigits=1}}
                    </td>
                    <td>
                      <LinkTo @route="authen.token.transaction" @model={{item.id}}>
                        <FaIcon @icon="arrow-up-right-from-square" />
                      </LinkTo>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>

        {{!--
            <LinkTo @route="authen.flight" @model={{this.flight.towing}}>
              {{this.flight.towing.aircraft_reg}}
            </LinkTo>
        --}}
          </div>
        {{/if}}

      </div>
      {{!--
        <div class="ui segment" style="height: 600px">
          {{#if this.flight.takeoff_location.latlng}}
            {{#leaflet-map center=flight.takeoff_location.latlng zoom=11 class="flight-map" as |layers|}}
              {{layers.tile url="https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.png" maxZoom=13}}
              {{#layers.marker location=flight.takeoff_location.latlng title="Decollo"}}
                {{#popup-layer}}
                  <b>Decollo</b><br />
                  {{flight.takeoff_location.full_address}}
                  {{flight.takeoff_location.lat}},{{flight.takeoff_location.lng}}
                {{/popup-layer}}
              {{/layers.marker}}
              {{#layers.marker location=flight.landing_location.latlng title="Atterraggio"}}
                {{#popup-layer}}
                  <b>Atterraggio</b><br />
                  {{flight.takeoff_location.full_address}}
                  {{flight.takeoff_location.lat}},{{flight.takeoff_location.lng}}
                {{/popup-layer}}
              {{/layers.marker}}
            {{/leaflet-map}}
          {{/if}}
      --}}
      </div>
    </div>
  </div>
</div>
