{{page-title "Voli"}}
<div class="container page authen-flights">

{{!--
<PowerCalendarRange class="pippo"
    @selected={{this.sd_selected}}
    @center={{this.sd_center}}
    @onSelect={{this.on_sd_select}}
    @onCenterChange={{this.on_sd_center_change}}
    as |calendar|>
  <calendar.Nav/>
  <calendar.Days />
</PowerCalendarRange>
--}}

  <div class="box level">
    <div class="level-item">
      <label>
        Da
        <input type="date" value={{this.sd_value}} {{on "change" this.flt_sd_on_change}} />
      </label>
    </div>

    <div class="level-item">
      <label>
        A
        <input type="date" value={{this.ed_value}} {{on "change" this.flt_ed_on_change}} />
      </label>
    </div>

    <div class="level-item">
      <label>
        <input type="checkbox" checked={{this.flt_pic}} {{on "change" this.flt_pic_toggle}} />
        PIC
      </label>
    </div>

    <div class="level-item">
      <label>
        <input type="checkbox" checked={{this.flt_pax}} {{on "change" this.flt_pax_toggle}} />
        PAX
      </label>
    </div>

  </div>

  <table class="bar-transactions table">
    <thead>
      <tr>
        <th colspan=2></th>
        <th colspan=2>Decollo</th>
        <th colspan=2>Atterraggio</th>
      </tr>
      <tr>
        <th>Data</th>
        <th>Marche</th>
        <th>Ora</th>
        <th>Luogo</th>
        <th>Ora</th>
        <th>Luogo</th>
        <th>Durata</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.sorted_models key="id" as |data|}}

      <tr {{on 'click' (fn this.goto_flight data.id)}}>
        <td>
          {{format-date data.takeoff_time format="dmy"}}
        </td>
        <td>
          {{data.aircraft_reg}}
        </td>
        <td>
          {{format-time data.takeoff_time format="hhmm"}}
        </td>
        <td>
          {{data.takeoff_location_raw}}
        </td>
        <td>
          {{format-time data.landing_time format="hhmm"}}
        </td>
        <td>
          {{data.landing_location_raw}}
        </td>
        <td>
          {{format-duration data.duration}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
