{{page-title "Volo"}}
<div class="container page authen-flight">
  <h1>Volo {{this.model.source_id}}</h1>

  Aeromobile: {{this.model.aircraft_reg}}<br />
  Pilota: {{this.model.pilot1.person.full_name}} ({{this.model.pilot1_role}})<br />

  {{#if this.model.pilot2_role}}
    Passeggero: {{this.model.pilot2.person.full_name}} ({{this.model.pilot2_role}})<br />
  {{/if}}

  Decollo:
    {{format-time this.model.takeoff_time format="timestamp_nosecs"}}
    {{#if this.model.takeoff_airfield}}
      {{!--
      <LinkTo @route="authen.airfield" @model={{this.model.takeoff_airfield}}>
        {{this.model.takeoff_airfield.name}}
      </LinkTo>
      --}}

      {{this.model.takeoff_location_raw}}
    {{else}}
      {{this.model.takeoff_location_raw}}
    {{/if}}
  <br />

  Atterraggio:
    {{format-time this.model.landing_time format="timestamp_nosecs"}}
    {{#if this.model.landing_airfield}}
      {{!--
      <LinkTo @route="authen.airfield" @model={{this.model.landing_airfield}}>
        {{this.model.landing_airfield.name}}
      </LinkTo>
      --}}

      {{this.model.landing_location_raw}}
    {{else}}
      {{this.model.landing_location_raw}}
    {{/if}}
  <br />

  Durata: {{format-duration this.model.duration}}<br />

  {{#if this.model.towed_by}}
    Trainato da:
    <LinkTo @route="authen.flight" @model={{this.model.towed_by}}>
      {{this.model.towed_by.aircraft_reg}}
    </LinkTo>
    <br />
  {{/if}}
  {{#if this.model.towing}}
    Trainando:
    <LinkTo @route="authen.flight" @model={{this.model.towing}}>
      {{this.model.towing.aircraft_reg}}
    </LinkTo>
    <br />
  {{/if}}

{{!--
    Passeggero:
      {{#if (eq model.pilot2_role "PAX")}}
        Passeggero
      {{else}}
        {{#if model.pilot2}}
          {{link-to model.pilot2.full_name "authen.person" model.pilot2.id}}
        {{else}}
          N/A
        {{/if}}
      {{/if}}
    <br />


  <div class="ui segment" style="height: 600px">
    {{#if this.model.takeoff_location.latlng}}
      {{#leaflet-map center=model.takeoff_location.latlng zoom=11 class="flight-map" as |layers|}}
        {{layers.tile url="https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.png" maxZoom=13}}
        {{#layers.marker location=model.takeoff_location.latlng title="Decollo"}}
          {{#popup-layer}}
            <b>Decollo</b><br />
            {{model.takeoff_location.full_address}}
            {{model.takeoff_location.lat}},{{model.takeoff_location.lng}}
          {{/popup-layer}}
        {{/layers.marker}}
        {{#layers.marker location=model.landing_location.latlng title="Atterraggio"}}
          {{#popup-layer}}
            <b>Atterraggio</b><br />
            {{model.takeoff_location.full_address}}
            {{model.takeoff_location.lat}},{{model.takeoff_location.lng}}
          {{/popup-layer}}
        {{/layers.marker}}
      {{/leaflet-map}}
    {{/if}}
--}}
</div>
