{{page-title (t "authen.page_title")}}

<div class="container page">
  <h1 class="subtitle">Ciao {{this.session.person.first_name}}!</h1>

  {{#if this.nextRenewIsGoingToOpen}}
    <div class="message">
      <h1 class="ui header">
        L'iscrizione per l'anno {{this.nextYear.year}} non è ancora aperta,
        aprirà {{format-date-from-now this.nextYear.renew_opening_time}}
      </h1>
    </div>
  {{/if}}

  <div class="ui stackable mobile reversed equal width grid">
    <div class="column">
      <div>
        <div class="ui statistics">
          <div class="statistic">
            <div class="value">
              {{format-number this.session.person.acao_bar_credit 2 "€"}}
            </div>
            <div class="label">
              Conto bar
            </div>
          </div>
        </div>

        <div class="ui statistics">
          <div class="statistic">
            <div class="value">
              {{this.session.person.acao_bollini}}
            </div>
            <div class="label">
              Bollini
            </div>
          </div>
        </div>


<!--        {{#if this.model.memberships}}
          Socio nel:
          <div class="ui celled horizontal list">
            {{#each model.memberships key="id" as |membership|}}
              <div class="item">{{membership.reference_year.year}}</div>
            {{/each}}
          </div>
        {{/if}}
-->

        {{#if this.myNextRosterEntries}}
          <div class="ui segment">
            Prossimi turni di linea:
            {{#each this.myNextRosterEntries as |re|}}
              {{roster-entry entry=re}}
            {{/each}}
          </div>
        {{/if}}

<!--
        {{#if model.medicals}}
          <div class="ui segment">
            Visita medica:
            {{#each this.model.medicals as |med|}}
              {{med.type}}: {{format-date this.med.valid_to "DD-MM-YYYY"}}<br />
            {{/each}}
          </div>
        {{/if}}

        {{#if this.model.licenses}}
          <div class="ui segment">
            Licenze:
            {{#each model.licenses as |lic|}}
              {{lic.type}}: {{lic.identifier}}: {{format-date this.lic.valid_to "DD-MM-YYYY"}}
            {{/each}}
          </div>
        {{/if}}
-->
      </div>
    </div>
    <div class="column">
    </div>
  </div>


<!--  <div class="ui statistic">
    <div class="value">
      <i class="plane icon"></i> 15
    </div>
    <div class="label">
      Voli
    </div>
  </div>
-->
</div>
