{{page-title (t "authen.index.page_title")}}

<div class="container box page authen-index">
  <div class="grid">
    <div class="cell">
      <h1 class="title">
        {{t "authen.index.hello"}}
        {{if this.person.nickname this.person.nickname this.person.first_name}}!
      </h1>
    </div>
    <div class="cell">
      {{#each this.roles as |role|}}
        <span class="tag">
          <span class="icon"><FaIcon @icon={{this.icon_for role}} /></span>
          <span>{{t (concat "member.roles." role)}}</span>
        </span>
      {{/each}}
      {{#each this.ms.relevant_memberships key="id" as |membership|}}
        <span class="tag">{{membership.year.year}}</span>
      {{/each}}
    </div>
  </div>

  <div class="level">
    <div class="level-item has-text-centered">
      <BarGauge @credit={{this.person.member.bar_credit}} />
    </div>

    <div class="level-item has-text-centered">
      <TokensGauge @credit={{this.person.member.bollini}} />
    </div>
  </div>

  {{#if this.ms.current_renew_is_open_and_available}}
    <button class="button is-huge is-multiline is-success" {{on "click" this.start_current_membership_renewal}}>
      <span>L'iscrizione</span>
      <span class="is-size-2 has-text-weight-bold">{{this.ms.current_year.year}}</span>
      <span>{{t "authen.index.membership_for_year"}}</span>
    </button>
  {{/if}}

  {{#if this.ms.next_renew_is_open_and_available}}
    <button class="button is-huge is-multiline is-success" {{on "click" this.start_next_membership_renewal}}>
      <span>{{t "authen.index.the_membership"}}</span>
      <span class="is-size-2 has-text-weight-bold">{{this.ms.next_year.year}}</span>
      <span>{{t "authen.index.membership_for_year"}}</span>
    </button>
  {{/if}}

  {{#if this.ms.next_renew_is_going_to_open_and_available}}
    <button class="button is-huge is-multiline is-grey" disabled>
      <span>{{t "authen.index.the_membership"}}</span>
      <span class="is-size-2 has-text-weight-bold">{{this.ms.next_year.year}}</span>
      <span>{{t "authen.index.membership_will_open" interval=this.ms.next_will_open_in}}</span>
    </button>
  {{/if}}

  {{#if this.my_next_roster_entries}}
    Prossimi turni di linea:
    <div class="level">
      {{#each this.my_next_roster_entries as |re|}}
        <div class="level-entry">
          <RosterEntry @entry={{re}} />
        </div>
      {{/each}}
    </div>
  {{/if}}



{{!--
        {{#if this.medicals}}
          <div class="ui segment">
            Visita medica:
            {{#each this.medicals as |med|}}
              {{med.type}}: {{format-date this.med.valid_to}}<br />
            {{/each}}
          </div>
        {{/if}}

        {{#if this.licenses}}
          <div class="ui segment">
            Licenze:
            {{#each this.licenses as |lic|}}
              {{lic.type}}: {{lic.identifier}}: {{format-date this.lic.valid_to}}
            {{/each}}
          </div>
        {{/if}}
--}}
</div>
