{{page-title (t "authen.page_title")}}

<div class="container box page authen-index">
  <h1 class="subtitle">Ciao {{this.session.person.first_name}}!</h1>

  {{#if this.ms.current_renew_is_open_and_needed}}
    <div class="notification is-success">
      L'iscrizione per l'anno {{this.ms.current_year.year}} è aperta.
      <button class="button is-info" {{on "click" this.start_current_membership_renewal}}>Inizia</button>
    </div>
  {{/if}}

  {{#if this.ms.next_renew_is_going_to_open_and_needed}}
    <div class="notification is-warning">
      L'iscrizione per l'anno {{this.ms.next_year.year}} non è ancora aperta,
      aprirà tra {{format-date-from-now this.ms.next_year.renew_opening_time}}
    </div>
  {{/if}}

  {{#if this.ms.next_renew_is_open_and_needed}}
    <div class="notification is-success">
      L'iscrizione per l'anno {{this.ms.next_year.year}} è aperta.
      <button class="button is-info" {{on "click" this.start_next_membership_renewal}}>Inizia</button>
    </div>
  {{/if}}

  <div class="level">
    <div class="level-item has-text-centered">
      <div {{on "click" (transition-to "authen.bar-transactions")}}>
        <p class="heading">
          Conto bar
        </p>
        <p class="title">
          {{format-number this.session.person.acao_bar_credit style="currency" currency="EUR"}}
        </p>
      </div>
    </div>

    <div class="level-item has-text-centered">
      <div {{on "click" (transition-to "authen.token-transactions")}}>
        <p class="heading">
          Bollini
        </p>
        <p class="title">
          {{format-number this.session.person.acao_bollini minimumFractionDigits=0 maximumFractionDigits=1}}
        </p>
      </div>
    </div>
  </div>


        {{#if this.my_next_roster_entries}}
          <div class="ui segment">
            Prossimi turni di linea:
            {{#each this.my_next_roster_entries as |re|}}
              <RosterEntry @entry={{re}} />
            {{/each}}
          </div>
        {{/if}}



{{!--        {{#if this.model.memberships}}
          Socio nel:
          <div class="ui celled horizontal list">
            {{#each model.memberships key="id" as |membership|}}
              <div class="item">{{membership.reference_year.year}}</div>
            {{/each}}
          </div>
        {{/if}}
--}}

{{!--
        {{#if model.medicals}}
          <div class="ui segment">
            Visita medica:
            {{#each this.model.medicals as |med|}}
              {{med.type}}: {{format-date this.med.valid_to "DD-MM-YYYY"}}<br />
            {{/each}}
          </div>
        {{/if}}

        {{#if this.model.licenses}}
          <div class="ui segment">
            Licenze:
            {{#each model.licenses as |lic|}}
              {{lic.type}}: {{lic.identifier}}: {{format-date this.lic.valid_to "DD-MM-YYYY"}}
            {{/each}}
          </div>
        {{/if}}
--}}
</div>
