{{page-title "Ricevuta"}}
<div class="ui container">
  <div class="ui segment">
  <div>
    <h1>Ricevuta {{model.invoice.identifier}}
    </h1>
    Data: {{format-date this.model.invoice.created_at "DD-MM-YYYY HH:mm:ss"}}<br />
  </div>

  <table class="invoice ui celled table">
    <thead>
      <tr>
        <th>Descrizione</th>
        <th>Costo</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.model.invoice.details key="@index" as |detail|}}
      <tr>
        <td>{{detail.descr}}{{#if detail.specific_data}} - {{detail.specific_data}}{{/if}}</td>
        <td class="price">{{numeral-format detail.price format="0.00"}} €</td>
      </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th>Totale</th>
        <td class="total price">{{numeral-format this.model.invoice.total format="0.00"}} €</td>
      </tr>
    </tfoot>
  </table>
  </div>

<!--
  <table class="invoice ui celled table">
    <thead>
      <tr>
        <th>Identificatore</th>
        <th>Stato</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.model.invoice.payments key="@index" as |payment|}}
      <tr>
        <td>{{payment.identifier}}</td>
        <td>{{payment.status}}</td>
        <td class="price">{{numeral-format payment.amount format="0.00"}} €</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
-->
</div>
