{{page-title (t "invoices.page_title")}}
<div class="container box page authen-invoices">
  <h1 class="title">Ricevute</h1>

  <table class="invoices table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Codice</th>
        <th>Metodo</th>
        <th>Ammontare</th>
        <th>Stato</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.sorted_models key="id" as |data|}}

      <tr {{!--{{on 'click' (transition-to "authen.invoice" data.id)}}--}}>
        <td>
          {{format-time data.created_at format="timestamp"}}
        </td>
        <td>
          {{data.identifier}}
        </td>
        <td>
          {{t (concat "payment.methods." data.payment_method)}}
        </td>
        <td class="price">
          {{format-number data.total style="currency" currency="EUR"}}
        </td>
        <td>
          <span class="tag state {{data.state}}">{{t (concat "invoice.states." data.state)}}</span>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

