{{page-title (t "invoice.page_title")}}
<div class="container page authen-invoice">
  <div class="box">
    <div>
      <h1 class="title">{{t "invoice.invoice"}} {{this.model.full_identifier}}
      </h1>
      Data: {{format-date this.model.document_date format="dmy"}}<br />
      Destinatario: {{this.model.recipient}}<br />
      Indirizzo: {{this.model.address}}<br />
      Codice Fiscale: {{this.model.codice_fiscale}}<br />
      Partita IVA: {{this.model.partita_iva}}<br />
      Email: {{this.model.email}}<br />
      Pagamento: {{t (concat "payment.methods." this.model.payment_method)}}<br />
    </div>

    <table class="invoice table">
      <thead>
        <tr>
          <th>Numero</th>
          <th>Descrizione</th>
          <th>Prezzo unitario</th>
          <th>Prezzo netto</th>
          <th>IVA</th>
          <th>Totale</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model.sorted_details key="@index" as |detail|}}
        <tr>
          <td>{{detail.count}}</td>
          <td>{{detail.descr}}{{#if detail.specific_data}} - {{detail.specific_data}}{{/if}}</td>
          <td class="price">{{format-number detail.single_amount style="currency" currency="EUR"}}</td>
          <td class="price">{{format-number detail.untaxed_amount style="currency" currency="EUR"}}</td>
          <td class="price">{{format-number detail.vat_amount style="currency" currency="EUR"}}</td>
          <td class="price">{{format-number detail.total_amount style="currency" currency="EUR"}}</td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th colspan=5>Totale</th>
          <td class="total price">{{format-number this.model.amount style="currency" currency="EUR"}}</td>
        </tr>
      </tfoot>
    </table>
  </div>

</div>
