{{page-title "Ricevute"}}
<div class="ui container">
  <table class="invoices ui selectable celled table">
    <thead>
      <tr>
        <th></th>
        <th>Data</th>
        <th>Codice</th>
        <th>Metodo</th>
        <th>Ammontare</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.model key="id" as |data|}}

      <tr {{on 'click' (transition-to "authen.invoice" data.id)}}>
        <td>
          <div class="ui ribbon label {{get this.stateColors data.state}}">{{data.state}}</div>
        </td>
        <td>
          {{format-date data.created_at "DD-MM-YYYY HH:mm:ss" }}
        </td>
        <td>
          {{data.identifier}}
        </td>
        <td>
          {{data.payment_method}}
        </td>
        <td class="price">
          {{numeral-format data.total format="0.00"}} €
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

