{{page-title (t "authen.memberships.page_title")}}

<div class="container box page authen-memberships">
  <table class="table memberships">
    <thead>
      <tr>
        <th>Anno</th>
        <th>Stato</th>
        <th>Ricevuta</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.sorted_models key="id" as |data|}}

      <tr {{!--{{on 'click' (transition-to "authen.aircraft" data.id)}}--}}>
        <td>
          {{data.reference_year.year}}
        </td>
        <td>
          {{data.status}}
        </td>
        <td>
          {{#if data.invoice_detail}}
            <LinkTo @route="authen.invoice" @model={{data.invoice_detail.invoice.id}} @activeClass="is-active">
              Ricevuta {{data.invoice_detail.invoice.identifier}}
            </LinkTo>
          {{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
