{{title (concat "Pagamento " model.payment.identifier)}}
<div class="ui container">
  <div class="ui segment">
    <h1>Pagamento numero {{model.payment.identifier}}
    {{#if isPending}} <div class="ui orange tag label">Pendente</div> {{/if}}
    {{#if isPaid}} <div class="ui green tag label">Pagato</div> {{/if}}
    {{#if isCanceled}} <div class="ui blue tag label">Annullato</div> {{/if}}
    </h1>
    Ricevuta: {{#link-to "authen.invoice" model.payment.invoice.id}}{{model.payment.invoice.identifier}}{{/link-to}}<br />
    Totale: <span class="price">{{numeral-format model.payment.amount format="0.00"}} €</span><br />

    Data: {{moment-format model.payment.created_at "DD-MM-YYYY HH:mm:ss"}}<br />

    {{#if model.payment.expires_at}}
      Scadenza: {{moment-format model.payment.expires_at "DD-MM-YYYY HH:mm:ss"}}<br />
    {{/if}}

    {{#if model.payment.completed_at}}
    Completato: {{moment-format model.payment.completed_at "DD-MM-YYYY HH:mm:ss"}}<br />
    {{/if}}
  </div>

  {{#if (eq model.payment.state "PENDING")}}
    {{partial (concat "authen/payment/" paymentMethodPartial)}}
  {{/if}}
</div>
