{{title "Pagamenti"}}
<div class="ui container">
  <YetiTable class="payments ui celled striped table"
      @filter={{filter}}
      @pagination={{true}} @pageSize={{20}} @totalRows={{totalRows}}
      @loadData={{perform loadDataTask}} as |table|>
    <table.header as |header|>
      <header.column></header.column>
      <header.column>Data</header.column>
      <header.column>Codice</header.column>
      <header.column>Metodo</header.column>
      <header.column @columnClass="price">Ammontare</header.column>
      <header.column>Scadenza</header.column>
    </table.header>

    <table.body as |body data|>
      <body.row @onClick={{transition-to "authen.payment" data.id}} as |row|>
        <row.cell>
         <div class="ui ribbon label {{get stateColors data.state}}">{{data.state}}</div>
        </row.cell>
        <row.cell>
          {{if data.created_at (moment-format data.created_at "DD-MM-YYYY")}}
        </row.cell>
        <row.cell>
          {{data.identifier}}
        </row.cell>
        <row.cell>
          {{data.payment_method}}
        </row.cell>
        <row.cell>
          {{numeral-format data.amount format="0.00"}} €
        </row.cell>
        <row.cell>
          {{if data.expires_at (moment-format data.expires_at "DD-MM-YYYY")}}
        </row.cell>
      </body.row>
    </table.body>

    <tfoot>
      {{#if (gt table.paginationData.totalRows table.paginationData.pageSize)}}
      <tr>
        <td colspan={{table.totalColumns}}>
          {{table-pagination table=table}}
        </td>
      </tr>
      {{/if}}
    </tfoot>
  </YetiTable>
</div>

<!--
      {{#link-to "authen.payment" payment.id tagName="tr"}}
      {{/link-to}}
-->
