{{page-title (concat "Pagamento " this.model.payment.identifier)}}
<div class="container page authen-payment">
  <div class="box">
    <h1 class="title">Pagamento codice {{this.model.payment.identifier}}
    {{#if (eq this.model.payment.state "PENDING")}} <span class="tag is-warning">Pendente</span> {{/if}}
    {{#if (eq this.model.payment.state "COMPLETED")}} <span class="tag is-success">Pagato</span> {{/if}}
    {{#if (eq this.model.payment.state "CANCELED")}} <span class="tag is-info">Annullato</span> {{/if}}
    </h1>

    Ricevuta: <LinkTo @route="authen.invoice" @model={{this.model.payment.invoice.id}}>{{this.model.payment.invoice.identifier}}</LinkTo><br />
    Totale: <span class="price">{{format-number this.model.payment.amount style="currency" currency="EUR"}}</span><br />

    Data: {{format-time this.model.payment.created_at format="timestamp"}}<br />

    {{#if this.model.payment.expires_at}}
      Scadenza: {{format-date this.model.payment.expires_at}}<br />
    {{/if}}

    {{#if this.model.payment.completed_at}}
    Completato: {{format-time this.model.payment.completed_at format="timestamp"}}<br />
    {{/if}}
  </div>

  {{#if (eq this.model.payment.state "PENDING")}}
    {{component (ensure-safe-component (concat "payment/" this.payment_method_partial)) payment=this.model.payment}}
  {{/if}}
</div>
