{{page-title "Pagamenti"}}
<div class="container box page authen-payments">
  <table class="payments table">
    <thead>
      <tr>
        <th>Data</th>
        <th>Codice</th>
        <th>Metodo</th>
        <th>Ammontare</th>
        <th>Scadenza</th>
        <th>Stato</th>
      </tr>
    </thead>

    <tbody>
      {{#each this.sorted_models key="id" as |data|}}

      <tr {{on 'click' (transition-to "authen.payment" data.id)}}>
        <td>
          {{format-date data.created_at "DD-MM-YYYY HH:mm:ss" }}
        </td>
        <td>
          {{data.identifier}}
        </td>
        <td>
          {{t (concat "payment.methods." data.payment_method)}}
        </td>
        <td class="price">
          {{format-number data.amount style="currency" currency="EUR"}}
        </td>
        <td>
          {{if data.expires_at (format-date data.expires_at "DD-MM-YYYY")}}
        </td>
        <td>
          <span class="tag state {{data.state}}">{{t (concat "payment.states." data.state)}}</span>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
