{{page-title this.model.full_name}}
<div class="container box page authen-person">
  <h1>{{this.model.full_name}}</h1>
  Nome: {{this.model.first_name}}<br />
  Cognome: {{this.model.last_name}}<br />
  Codice Pilota: {{this.model.acao_code}}<br />
</div>
