{{page-title model.full_name}}
<div class="ui container">
  <div class="ui segment">
    <h1>{{model.full_name}}</h1>
    Nome: {{model.first_name}}<br />
    Cognome: {{model.last_name}}<br />
    Codice Pilota: {{model.acao_code}}<br />
  </div>
</div>
