{{page-title "Rinnovo iscrizione"}}

{{#if this.renew_is_open_and_needed}}
  <div class="ui container">
  {{outlet}}
  </div>
{{else if this.renew_is_going_to_open}}
  <div class="ui orange message">
    <h1 class="ui header">
      L'iscrizione per l'anno {{this.context.year}} non è ancora aperta,
      aprirà {{format-date-from-now this.context.opening_time}}
    </h1>
  </div>
{{else}}
  <div class="ui blue message">
    <h1 class="ui header">
      L'iscrizione per l'anno {{this.context.year}} non è necessaria
    </h1>
  </div>
{{/if}}
