{{title "Movimento Bollini"}}
<div class="ui container">
  <div class="ui segment">
    <h1>Movimento Bollini</h1>
    ID: {{model.uuid}}<br />
    Registrato il: {{moment-format model.recorded_at "DD-MM-YYYY HH:mm:ss"}}<br />
    Operatore: {{model.old_operator}}<br />
    Aeromobile: {{#if model.aircraft}}{{link-to model.aircraft.registration "authen.aircraft" model.aircraft.id}}{{else}}N/A{{/if}}<br />
    Descrizione: {{model.descr}}<br />
    Ammontare: {{numeral-format model.amount format="+0.0"}} {{model.unit}}<br />
    Credito: {{numeral-format model.prev_credit format="0.0"}} → {{numeral-format model.credit format="0.0"}} {{model.unit}}<br />
  </div>
</div>
