{{page-title "Movimento Bollini"}}
<div class="container box page authen-token-transaction">
  <h1 class="title">Movimento Bollini</h1>
  ID: {{this.model.id}}<br />
  Registrato il: {{format-date this.model.recorded_at "DD-MM-YYYY HH:mm:ss"}}<br />
  Operatore: {{this.model.old_operator}}<br />
  Aeromobile: {{this.model.aircraft.registration}}<br />
{{!--  Aeromobile: {{#if this.model.aircraft}}{{link-to this.model.aircraft.registration "authen.aircraft" this.model.aircraft.id}}{{else}}N/A{{/if}}<br />--}}
  Descrizione: {{this.model.descr}}<br />
  Ammontare: {{format-number this.model.amount minimumFractionDigits=1 maximumFractionDigits=1}}<br />
  Credito: {{format-number this.model.prev_credit minimumFractionDigits=1 maximumFractionDigits=1}} → {{format-number this.model.credit minimumFractionDigits=1 maximumFractionDigits=1}}<br />
</div>
