{{page-title (t "application.page_title")}}
<Toaster />

<header>
  <h1 class="title">{{t "application.page_title"}}</h1>
</header>

{{outlet}}

{{!--
<footer class="footer">
  Copyright © ACAO {{moment-format (now) 'YYYY'}}
</footer>
--}}

{{#if this.offline}}
  <div class="offline-modal modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <ConnectionWidget>
          {{t "application_offline.offline"}}
        </ConnectionWidget>
      </div>
    </div>
  </div>
{{/if}}
