{{page-title (t "application.page_title")}}
<Toaster />

{{#if this.fullscreen}}
  <style>
    html {
      height: 100%;
    }

    body { height: 100%; }
  </style>

  {{outlet}}
{{else}}

  {{!--<header class="is-hidden-mobile">
    <span class="title">{{t "application.page_title"}}</span>
  </header>--}}

  {{outlet}}

  {{!--
  <footer class="footer">
    Copyright © ACAO {{moment-format (now) 'YYYY'}}
  </footer>
  --}}
{{/if}}

{{#if this.offline}}
  <div class="offline-modal modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <ConnectionWidget>
          {{t "application_offline.offline"}}
        </ConnectionWidget>
      </div>
    </div>
  </div>
{{/if}}

<BasicDropdownWormhole />
