<div class="ui fixed inverted main menu">
    <a class="launch icon item sidebar-toggle" {{action "sidebarToggle" "main-sidebar"}}>
      <i class="sidebar icon"></i>
    </a>

  <div class="ui breadcrumb item">
    <LinkTo @route="authen.index" class="selection">{{this.my_page_title}}</LinkTo>
  </div>

  <div class="right item">
    {{#if this.cart.items}}
      <LinkTo @route="authen.shop.cart" class="ui small button">
        <i class="cart icon"></i>
        {{if this.cart.items.length cart.items.length}}
      </LinkTo>
    {{/if}}

    <button class="ui small button" {{action "logout"}}>Logout</button>
  </div>
</div>
<div id="sidebar-context" class="sidebar-context">
  {{#ui-sidebar
      class=(concat "ui inverted menu left inline vertical " this.sidebarVisible)
      dimPage=false
      closable=false
      id="main-sidebar"
      click=(action "sidebarClick")
      context="#sidebar-context"}}
    <MainMenuItems
      @person={{this.session.person}}
      @currentYear={{this.currentYear}}
      @nextYear={{this.nextYear}}
      @currentRenewIsOpenAndNeeded={{this.currentRenewIsOpenAndNeeded}}
      @nextRenewIsOpenAndNeeded={{this.nextRenewIsOpenAndNeeded}}
      @pendingPayments={{this.pendingPayments}}
      @rosterCurStatus={{this.rosterCurStatus}}
      @rosterNextStatus={{this.rosterNextStatus}}
    />
  {{/ui-sidebar}}

  <div class="pusher main content sidebar-pusher">
    {{outlet}}
  </div>
</div>
