<nav class="navbar is-fixed-to" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger {{if this.hamburger.active "is-active"}}" {{on "click" this.hamburger_show}} aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu {{if this.hamburger.active "is-active"}}" {{on "click" this.hamburger_hide}}>
    <div class="navbar-start">
      <LinkTo @route="authen.index" class="navbar-item">
        {{t "menu.dashboard"}}
      </LinkTo>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{t "menu.roster"}}
        </a>

        <div class="navbar-dropdown">
          <LinkTo class="navbar-item" @route="authen.roster.days"> Tutti i turni </LinkTo>
          <LinkTo class="navbar-item" @route="authen.roster.today"> Turni di oggi </LinkTo>
          <hr class="navbar-divider">
          <div class="navbar-item">
            JHiusdhiudhf
          </div>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" {{on "click" this.logout}}>{{t "menu.logout"}}</a>
    </div>
  </div>
</nav>

{{!--<Authen::Menu
  @person={{this.session.person}}
  @currentYear={{this.currentYear}}
  @nextYear={{this.nextYear}}
  @currentRenewIsOpenAndNeeded={{this.currentRenewIsOpenAndNeeded}}
  @nextRenewIsOpenAndNeeded={{this.nextRenewIsOpenAndNeeded}}
  @pendingPayments={{this.pendingPayments}}
  @rosterCurStatus={{this.rosterCurStatus}}
  @rosterNextStatus={{this.rosterNextStatus}}
  @logout={{this.logout}}>
</Authen::Menu>

{{#if this.hamburger.active}}
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <Authen::Menu
        @person={{this.session.person}}
        @currentYear={{this.currentYear}}
        @nextYear={{this.nextYear}}
        @currentRenewIsOpenAndNeeded={{this.currentRenewIsOpenAndNeeded}}
        @nextRenewIsOpenAndNeeded={{this.nextRenewIsOpenAndNeeded}}
        @pendingPayments={{this.pendingPayments}}
        @rosterCurStatus={{this.rosterCurStatus}}
        @rosterNextStatus={{this.rosterNextStatus}}
        @logout={{this.logout}}>
      </Authen::Menu>
    </div>
  </div>
{{/if}}
--}}

{{outlet}}
