<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger {{if this.hamburger.active "is-active"}}" {{on "click" this.hamburger_show}} aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu {{if this.hamburger.active "is-active"}}" {{on "click" this.hamburger_hide}}>
    <div class="navbar-start">
      <LinkTo @route="authen.index" class="navbar-item" @activeClass="is-active">
        {{t "menu.home"}}
      </LinkTo>

      <div class="navbar-item">
        <LinkTo @route="authen.flights">
          Stralcio Voli
        </LinkTo>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{t "menu.billing"}}
          {{#if this.pending_payments}}
            <span class="tag is-danger"><FaIcon @icon="exclamation" /></span>
          {{/if}}
        </a>

        <div class="navbar-dropdown">
          <LinkTo @route="authen.token.transactions" class="navbar-item" @activeClass="is-active">
            {{t "menu.token_transactions"}}
          </LinkTo>

          <LinkTo @route="authen.bar.transactions" class="navbar-item" @activeClass="is-active">
            {{t "menu.bar_transactions"}}
          </LinkTo>

          <LinkTo @route="authen.invoices" class="navbar-item" @activeClass="is-active">
            {{t "menu.invoices"}}
          </LinkTo>

{{!--
          <LinkTo @route="authen.payments" class="navbar-item" @activeClass="is-active">
            {{t "menu.payments"}}
            {{#if this.pending_payments}}
              <span class="tag is-danger">{{this.pending_payments.length}}</span>
            {{/if}}
          </LinkTo>
--}}
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{t "menu.roster"}}
        </a>

        <div class="navbar-dropdown">
          <LinkTo class="navbar-item" @route="authen.roster.days" @activeClass="is-active">{{t "menu.all_roster_days"}}</LinkTo>
          <LinkTo class="navbar-item" @route="authen.roster.today" @activeClass="is-active">{{t "menu.today_roster_entries"}}</LinkTo>
        </div>
      </div>

{{!--
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{t "menu.things"}}
        </a>

        <div class="navbar-dropdown">
          <LinkTo class="navbar-item" @route="authen.aircrafts" @activeClass="is-active">{{t "menu.aircrafts"}}</LinkTo>
        </div>
      </div>
--}}
    </div>

    <div class="navbar-end">
      <a class="navbar-item" {{on "click" this.logout}}>{{t "menu.logout"}}</a>
    </div>
  </div>
</nav>

{{!--
<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li>
      <LinkTo @route="authen.index" class="navbar-item" @activeClass="is-active">
        {{t "menu.home"}}
      </LinkTo>
    </li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li>
      {{t "menu.billing"}}
      {{#if this.pending_payments}}
        <span class="tag is-danger"><FaIcon @icon="exclamation" /></span>
      {{/if}}
      <ul>
        <li>
          <LinkTo @route="authen.token.transactions" class="navbar-item" @activeClass="is-active">
            {{t "menu.token_transactions"}}
          </LinkTo>
        </li>

        <li>
          <LinkTo @route="authen.bar.transactions" class="navbar-item" @activeClass="is-active">
            {{t "menu.bar_transactions"}}
          </LinkTo>
        </li>

        <li>
          <LinkTo @route="authen.invoices" class="navbar-item" @activeClass="is-active">
            {{t "menu.invoices"}}
          </LinkTo>
        </li>

        <li>
          <LinkTo @route="authen.payments" class="navbar-item" @activeClass="is-active">
            {{t "menu.payments"}}
            {{#if this.pending_payments}}
              <span class="tag is-danger">{{this.pending_payments.length}}</span>
            {{/if}}
          </LinkTo>
        </li>
      </ul>
    </li>
  </ul>
</aside>
--}}

{{outlet}}
