<div class="ui fixed inverted main menu">
    <a class="launch icon item sidebar-toggle" {{action "sidebarToggle" "main-sidebar"}}>
      <i class="sidebar icon"></i>
    </a>

  <div class="ui breadcrumb item">
    {{#link-to "authen.index" class="selection"}}{{myPageTitle}}{{/link-to}}
  </div>

  <div class="right item">
    {{#if cart.items}}
      {{#link-to "authen.shop.cart" class="ui small button"}}
        <i class="cart icon"></i>
        {{if cart.items.length cart.items.length}}
      {{/link-to}}
    {{/if}}

    <button class="ui small button" {{action "logout"}}>Logout</button>
  </div>
</div>
<div id="sidebar-context" class="sidebar-context">
  {{#ui-sidebar
      class=(concat "ui inverted menu left inline vertical " sidebarVisible)
      dimPage=false
      closable=false
      id="main-sidebar"
      click=(action "sidebarClick")
      context="#sidebar-context"}}
    {{main-menu-items
        person=session.person
        currentYear=currentYear
        nextYear=nextYear
        currentRenewIsOpenAndNeeded=currentRenewIsOpenAndNeeded
        renewIsOpenAndNeeded=renewIsOpenAndNeeded
        pendingPayments=pendingPayments
        rosterCurStatus=rosterCurStatus
        rosterNextStatus=rosterNextStatus
    }}
  {{/ui-sidebar}}

  <div class="pusher main content sidebar-pusher">
    {{outlet}}
  </div>
</div>
