Aoooooooooooooooooooooooo

<button {{action "burpButton"}} class="ui button">
  BURP!
</button>

<div>
{{cazzo}}
</div>

<div>
Websocket state: {{ws.state}}
</div>

<div>
Big Brother:
{{big-brother}}
</div>

{{show-clock}}
