<div class="ui container">
  <h1 class="ui header">Ciao {{session.person.first_name}}!</h1>

  {{#unless renewIsOpen}}
    <div class="ui orange message">
      <h1 class="ui header">
        {{#if model.renewalContext.renew_for_year}}
          L'iscrizione per l'anno {{model.renewalContext.renew_for_year}} non è ancora aperta, aprirà {{moment-from-now model.renewalContext.opening_time interval=1000}}
        {{else}}
          L'iscrizione non è aperta.
        {{/if}}
      </h1>
    </div>
  {{/unless}}

  <div class="ui stackable mobile reversed equal width grid">
    <div class="column">
      <div>
<!--        {{#if model.memberships}}
          Socio nel:
          <div class="ui celled horizontal list">
            {{#each model.memberships key="id" as |membership|}}
              <div class="item">{{membership.year}}</div>
            {{/each}}
          </div>
        {{/if}}
-->

        {{#if myNextRosterEntries}}
          <div class="ui segment">
            Prossimi turni di linea:
            {{#each myNextRosterEntries as |re|}}
              {{roster-entry-display entry=re}}
            {{/each}}
          </div>
        {{/if}}
      </div>
    </div>
    <div class="column">
      <div class="ui vertical buttons">
        {{#if havePendingPayments}}
          {{#link-to 'payments' class="massive ui orange button" tagName="button"}}Ci sono dei pagamenti pendenti{{/link-to}}
        {{/if}}

        {{#if membershipRenewalIsAvailable}}
          {{#link-to 'renew-membership' class="massive ui primary button" tagName="button"}}Rinnova l'iscrizione {{model.renewalContext.year}}{{/link-to}}
        {{/if}}

        {{#if model.rosterStatus.can_select_entries}}
          {{#link-to 'select-roster' class="massive ui green button" tagName="button"}}Scegli i turni di linea{{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>


<!--  <div class="ui statistic">
    <div class="value">
      <i class="plane icon"></i> 15
    </div>
    <div class="label">
      Voli
    </div>
  </div>
-->
</div>
