{{page-title "Login"}}

<div class="container">
  <div class="columns">
    <div class="column is-offset-3 is-6">
      <div class="box">
        <h1 class="title has-text-centered">
          {{t "login.login_to"}} {{this.vos.welcome_msg.server_identifier}}
        </h1>

        <form class="{{if this.ex "error"}}" {{on "submit" this.authenticate}}>
          <div class="field">
            <label class="label">{{t "login.username"}}</label>
            <div class="control has-icons-left has-icons-right">
              {{t "login.username_request"}}
              <Input id="username" class="input" placeholder="999" autocomplete="username" @value={{mut this.username}} />

              <span class="icon is-small is-left">
                <FaIcon @icon="envelope" />
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">{{t "login.password"}}</label>
            <div class="control has-icons-left has-icons-right">
              <Input id="password" @type="password" class="input" placeholder="" autocomplete="password" @value={{mut this.password}} />

              <span class="icon is-small is-left">
                <FaIcon @icon="key" />
              </span>
            </div>

            <LinkTo @route="password-recovery">{{t "login.forgot_password"}}</LinkTo>
          </div>

          <div class="field">
            <p class="control">
              <button type="submit" class="button is-success {{if this.logging_in "disabled loading"}}">
                {{t "login.login"}}
              </button>
            </p>
          </div>
        </form>

        {{#if this.ex}}
          <ExceptionDecode @ex={{this.ex}} as |title detail|>
            <div class="notification is-danger">
              <h1 class="title">{{title}}</h1><br />
              {{detail}}
            </div>
          </ExceptionDecode>
        {{/if}}
      </div>
    </div>
  </div>
</div>
