{{page-title "Login"}}

<div class="container">
  <div class="columns">
    <div class="column is-offset-3 is-6">
      <div class="box">
        <h1 class="title has-text-centered">
          {{t "login.page_title"}}
        </h1>

        <form class="{{if this.ex "error"}}" {{on "submit" this.authenticate}}>
          <div class="field">
            <label class="label" for="username">{{t "login.username.label"}}</label>
            <div class="control has-icons-left has-icons-right">
              {{t "login.username.request"}}
              <input id="username"
                     type="text"
                     class="input {{if this.username_warning "is-warning"}} {{if this.username_error "is-danger"}}"
                     value={{this.username}}
                     autocomplete="username"
                     autocorrect="off"
                     autocapitalize="none"
                     spellcheck="false"
                     placeholder={{t "login.username.placeholder"}}
                     {{on "input" this.username_changed}}
              />

              <span class="icon is-small is-left">
                <FaIcon @icon="user" />
              </span>
            </div>

            {{#if this.username_error}}
              <p class="help is-danger">{{t this.username_danger}}</p>
            {{/if}}

            {{#if this.username_warning}}
              <p class="help is-warning">{{t this.username_warning}}</p>
            {{/if}}
          </div>

          <div class="field">
            <label class="label" for="password">{{t "login.password.label"}}</label>
            <div class="control has-icons-left has-icons-right">
              <input id="password"
                     type={{if this.password_show "text" "password"}}
                     class="input {{if this.password_warning "is-warning"}} {{if this.password_error "is-danger"}}"
                     value={{this.password}}
                     autocomplete="password"
                     placeholder={{t "login.password.placeholder"}}
                     {{on "input" this.password_changed}}
              />

              <span class="icon is-small is-left">
                <FaIcon @icon="key" />
              </span>

              <span class="icon is-small is-right" style="pointer-events: all; cursor: pointer">
                <FaIcon @icon={{if this.password_show "eye-slash" "eye"}} {{on "click" this.password_show_toggle}} />
              </span>
            </div>

            {{#if this.password_error}}
              <p class="help is-danger">{{t this.password_error}}</p>
            {{/if}}

            {{#if this.password_warning}}
              <p class="help is-warning">{{t this.password_warning}}</p>
            {{/if}}

            <LinkTo @route="password-recovery">{{t "login.forgot_password"}}</LinkTo>
          </div>

          <div class="field">
            <div class="control">
              <label>{{t "login.keep_connected.label"}}
                <input type="checkbox"
                       value={{this.keep_connected}}
                       {{on "click" this.keep_connected_changed}}
                />
              </label>
            </div>
          </div>

          <div class="field">
            <p class="control">
              <button type="submit" class="button is-success is-big is-fullwidth {{if this.submitting "is-loading"}}" disabled={{not this.can_submit}}>
                {{t "login.login"}}
              </button>
            </p>
          </div>
        </form>

        {{#if this.ex}}
          <ExceptionDecoder @ex={{this.ex}} as |title detail|>
            <div class="notification is-danger">
              <h1 class="title">{{title}}</h1><br />
              {{detail}}
            </div>
          </ExceptionDecoder>
        {{/if}}
      </div>
    </div>
  </div>
</div>
