{{page-title (t "password_recovery.page_title")}}

<div class="container">
  <div class="columns">
    <div class="column is-offset-3 is-6">
      <div class="box">
        <h1 class="title has-text-centered">
          {{t "password_recovery.recover"}}
        </h1>

        <div class="field">
          <label class="label">{{t "password_recovery.username.label"}}</label>
          <div class="control has-icons-left has-icons-right">
            {{t "password_recovery.username.request"}}
            <input id="username"
                   type="text"
                   class="input {{if this.username_warning "is-warning"}} {{if this.username_error "is-danger"}}"
                   value={{this.username}}
                   autocomplete="username"
                   autocorrect="off"
                   autocapitalize="none"
                   spellcheck="false"
                   placeholder={{t "password_recovery.username.placeholder"}}
                   {{on "input" this.username_changed}}
            />

            <span class="icon is-small is-left">
              <FaIcon @icon="user" />
            </span>
          </div>

          {{#if this.username_error}}
            <p class="help is-danger">{{t this.username_error}}</p>
          {{/if}}

          {{#if this.username_warning}}
            <p class="help is-warning">{{t this.username_warning}}</p>
          {{/if}}
        </div>

        <div class="field">
          <p class="control">
            <button type="submit"
                    class="button is-success is-big is-fullwidth {{if this.submitting "is-loading"}}"
                    disabled={{not this.can_submit}}
                    {{on "click" this.submit}}>
              {{t "password_recovery.recover"}}
            </button>
          </p>
        </div>

        {{#if this.ex}}
          <ExceptionDecoder @ex={{this.ex}} as |title detail|>
            <div class="notification is-danger">
              <h1 class="title">{{title}}</h1>
              <p>
                {{detail}}
              </p>
            </div>
          </ExceptionDecoder>
        {{/if}}

        {{#if this.success}}
          <div class="notification is-success">
            <p>
              {{t "password_recovery.success.text"}}
            </p>
            <p>
              {{t "password_recovery.success.go_to"}}
              <LinkTo @route="login">{{t "password_recovery.success.login_page"}}</LinkTo>
            </p>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
