{{title "Recupero Password"}}
<div class="ui middle aligned center aligned grid">
  <div class="column" style="max-width: 450px">
    <h2 class="ui image header">
      <div class="content">
        Inserisci il tuo codice pilota:
      </div>
    </h2>

    <form class="ui large form" {{action "recover" on="submit"}}>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{input id="username" placeholder="Codice Pilota" value=username}}
          </div>
        </div>
        <button type="submit" class="ui fluid large submit button {{if submitting "disabled loading"}}">Recupera password</button>
      </div>
    </form>

    {{#if success}}
      <div class="ui bottom attached positive message">
        La password ti è stata inviata per e-mail.<br />Vai alla {{#link-to "login"}}pagina di Login{{/link-to}}
      </div>
    {{/if}}
  </div>
</div>
{{exception-box exception=exception}}
