{{#if model}}
<table class="ui celled table pending-payments">
  <thead>
    <tr>
      <th>Codice</th>
      <th>Data</th>
      <th>Metodo</th>
      <th>Ammontare</th>
    </tr>
  </thead>
  <tbody>
  {{#each model key="id" as |payment|}}
    {{#link-to 'pending-payment' payment.id tagName='tr'}}
      <td>{{payment.code}}</td>
      <td>{{moment-format payment.created_at 'DD-MM-YYYY HH:mm:ss' }}</td>
      <td>{{payment.payment_method}}</td>
      <td>{{format-number payment.total format="0.00"}} €</td>
    {{/link-to}}
  {{/each}}
  </tbody>
</table>

{{else}}
<div class="ui icon message">
  <i class="thumbs up icon"></i>
  <div class="content">
    <div class="header">
      Non risultano pagamenti pendenti, grazie!
    </div>
  </div>
</div>
{{/if}}
