<div class="ui container">
  <div class="ui segment">
  <div>
    <h1>Pagamento numero {{model.payment.code}}
    {{#if isPending}} <div class="ui orange tag label">Pendente</div> {{/if}}
    {{#if isPaid}} <div class="ui green tag label">Pagato</div> {{/if}}
    {{#if isCanceled}} <div class="ui blue tag label">Annullato</div> {{/if}}
    </h1>
    Data: {{moment-format model.payment.created_at 'DD-MM-YYYY HH:mm:ss'}}<br />
    Scadenza: {{moment-format model.payment.expires_at 'DD-MM-YYYY HH:mm:ss'}}<br />
  </div>

  <table class="renew-services ui celled table">
    <thead>
      <tr>
        <th>Descrizione</th>
        <th>Costo</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.payment.payment_services key="@index" as |service index|}}
      <tr>
        <td>{{service.service_type.name}}{{#if service.extra_info}} - {{service.extra_info}}{{/if}}</td>
        <td class="price">{{format-number service.price format="0.00"}} €</td>
      </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th>Totale</th>
        <th class="total price">{{format-number model.payment.total format="0.00"}} €</th>
      </tr>
    </tfoot>
  </table>
  </div>

  {{partial (concat 'pending-payment/' (if model.payment.payment_method model.payment.payment_method 'unknown'))}}

  {{#if forMembership}}
    {{#link-to 'select-roster' type='button' class='ui primary button'}}Scegli i turni di linea{{/link-to}}
  {{/if}}
</div>
