{{title "Turni di traino"}}
<div class="ui container">
<div class="ui segment">
  <button class="ui primary button {{if saveDisabled "disabled"}} {{if saving "disabled"}}" {{action "save" re}}>Salva!</button>
  <button class="ui button" {{action "cancel" re}}>Annulla!</button>

  {{#if saveError}}
  <div class="ui red message">
    {{saveError}}
  </div>
  {{/if}}
</div>

<div class="ui grid">
  <div class="seven wide column">
    <div class="ui segment">
    </div>

    {{#if myRosterEntries}}
      <div class="ui cards">
        {{#each myRosterEntries as |re|}}
          {{tow-roster-entry entry=re onDelete=(action "delEntry")}}
        {{/each}}
      </div>
    {{/if}}
  </div>
  <div class="nine wide column">
    <div class="ui segment">
    {{#ui-dropdown class="selection inline compact" selected=seasonSelect onChange=(action (mut seasonSelect))}}
    <div class="default text">Tutte</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value="all">Tutte le stagioni</div>
      <div class="item" data-value="high">Alta stagione</div>
      <div class="item" data-value="low">Bassa stagione</div>
    </div>
    {{/ui-dropdown}}

    {{#ui-dropdown class="selection inline compact" selected=monthSelect onChange=(action (mut monthSelect))}}
    <div class="default text">Tutte</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item" data-value="all">Tutto l'anno</div>
      <div class="item" data-value="0">Gennaio</div>
      <div class="item" data-value="1">Febbraio</div>
      <div class="item" data-value="2">Marzo</div>
      <div class="item" data-value="3">Aprile</div>
      <div class="item" data-value="4">Maggio</div>
      <div class="item" data-value="5">Giugno</div>
      <div class="item" data-value="6">Luglio</div>
      <div class="item" data-value="7">Agosto</div>
      <div class="item" data-value="8">Settembre</div>
      <div class="item" data-value="9">Ottobre</div>
      <div class="item" data-value="10">Novembre</div>
      <div class="item" data-value="11">Dicembre</div>
    </div>
    {{/ui-dropdown}}

    {{ui-checkbox class="ui toggle" checked=includeBusy onChange=(action (mut includeBusy)) label="Includi occupati"}}
    </div>

    <div class="ui cards" style="overflow-y: auto; max-height: 70vh">
      {{#each filteredRosterDays as |day|}}
        {{tow-roster-day-edit day=day entries=myRosterEntries onAdd=(action "addDay")}}
      {{/each}}
    </div>
  </div>
</div>

</div>
